<!--advis_min/GIS-->
<li>
  <p>GIS committee minutes</p>
</li>
<!-- append list of documents after header-->
<!--GIS-->

<!-- <li class='years' id='2017'>
  <p>2017</p>
  <ul class='list-unstyled archive_months'>

  </ul>
</li> -->


<li class='years' id='2016'>
  <p>2016</p>
  <ul class='list-unstyled archive_months'>


    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2016/MSRCwriteup_2016-09-22.pdf'>2016-09-22</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2016/MSRCwriteup_2016-03-23.pdf'>2016-03-23</a>
    </li>
  </ul>
</li>

<li class='years' id='2015'>
  <p>2015</p>
  <ul class='list-unstyled archive_months'>


    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2015/MSRCwriteup_2015-09-30.pdf'>2015-09-30</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2015/MSRCwriteup_2015-04-01.pdf'>2015-04-01</a>
    </li>
  </ul>
</li>

<li class='years' id='2014'>
  <p>2014</p>
  <ul class='list-unstyled archive_months'>


    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2014/MSRCwriteup_2014-11-19.pdf'>2014-11-19</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/2014/MSRCwriteup_2014-05-21.pdf'>2014-05-21</a>
    </li>
  </ul>
</li>

<li class='years' id='Archive'>
  <p>Archive</p>
  <ul class='list-unstyled archive_months'>


    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2013-12-17.pdf'>2013-12-17</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2013-04-24.pdf'>2013-04-24</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2013-02-20.pdf'>2013-02-20</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2012-11-28.pdf'>2012-11-28</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2012-08-22.pdf'>2012-08-22</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2012-05-23.pdf'>2012-05-23</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2012-02-14.pdf'>2012-02-14</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2011-10-26.pdf'>2011-10-26</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2011-04-20.pdf'>2011-04-20</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2009-12-31.pdf'>2009-12-31</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2007-10-03.pdf'>2007-10-03</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2006-07-06.pdf'>2006-07-06</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2005-07-06.pdf'>2005-07-06</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2005-03-16.pdf'>2005-03-16</a>
    </li>

    <li class="minutes">
      <a target="_blank" href='./documents/advis_min/GIS/Archive/MSRCwriteup_2004-08-05.pdf'>2004-08-05</a>
    </li>
  </ul>
</li>
