<div class="col-lg-8 col-sm-8 col-xs-8 pull-left">
    <ul class="list-unstyled" align="left">
        <li class="advisCommittees" >
            <p>Comprehensive Economic Development Strategy (CEDS)&nbsp;&nbsp;
            <span class="toggle-close"></span></p>
            <ul class="members list-unstyled just-left" align="left" id="comCEDS">
                <li>Adelaide Eckardt, Senator - Maryland District 37</li>
                <li>Alan Silverstein, Talbot County Chamber of Commerce</li>
                <li>Allen Nelson, Dorchester County - Cambridge Resident</li>
                <li>Amanda Fenstermaker, Dorchester County Office of Tourism</li>
                <li>Andy Hollis, Talbot County Manager</li>
                <li>Angela Visintainer, Caroline Economic Development Corporation</li>
                <li>Ann Jacobs, Caroline County Chamber of Commerce</li>
                <li>Anthony Casey, Ridgely Commissioner</li>
                <li>Bill Christopher, Dorchester County Chamber of Commerce</li>
                <li>Barbara Viniar, Chesapeake College President</li>
                <li>Bruce Weaver, United States Department of Agriculture Rural Development</li>
                <li>Buddy Harrison, Maryland Seafood Industries</li>
                <li>Burton Wilson, Talbot County minority representative</li>
                <li>Carolyn Spicher, Caroline County business representative</li>
                <li>Cassandra Vanhooser, Talbot County Office of Tourism</li>
                <li>Chris Adams, Delegate - Maryland District 37B</li>
                <li>Dan Franklin, Caroline County Commissioner</li>
                <li>Dan McDermott, Upper Shore Workforce Investment Board</li>
                <li>Dan Rider, Association of Forestry Industries, Inc.
                </li>
                <li>Deborah Bowden, Maryland Department of Commerce</li>
                <li>Dirck Bartlett, Talbot County Council</li>
                <li>Gale Nashold, Caroline County - Greensboro resident</li>
                <li>James Redman, Talbot County - Easton Elementary School Principal</li>
                <li>Jeannie Haddaway-Riccio, Talbot County business representative</li>
                <li>Jeremy Goldman, Dorchester County Manager</li>
                <li>Jerome Stanley, Dorchester County minority representative</li>
                <li>John General, Chesapeake Bay Region Technical Center of Excellence</li>
                <li>Johnny Mautz, Delegate - Maryland District 37B
                </li>
                <li>Karen Olmstead, Salisbury University Dean of Science &amp; Technology</li>
                <li>Kathleen Mackel, Caroline County Office of Tourism</li>
                <li>Ken Decker, Caroline County Administrator</li>
                <li>Kurt Fuchs, Maryland Farm Bureau</li>
                <li>Larry Porter, Caroline County Commissioner</li>
                <li>Maria D'Arcy, Caroline County minority representative</li>
                <li>Michael LeMire, Dorchester County business representative</li>
                <li>Michael Scott, Eastern Shore Regional GIS Cooperative</li>
                <li>Mike Pennington, Tri-County Council for the Lower Eastern Shore of Maryland
                </li>
                <li>Mike Thielke, Eastern Shore Entrepreneurship Center</li>
                <li>Rick Price, Dorchester County Council</li>
                <li>Ricky Travers, Dorchester County Council</li>
                <li>Robert Hanson, City of Cambridge Commissioner</li>
                <li>Robert Hutchison, resource-based business representative</li>
                <li>Rosalee Potter, Trappe Town Council</li>
                <li>Russell Brinsfield, Mayor of Vienna</li>
                <li>Santo Grande, Delmarva Community Services, Inc.
                </li>
                <li>Sam Shoge, Talbot County Economic Development Office</li>
                <li>Shannon Reed, United States Department of Agriculture Rural Development</li>
                <li>Susan Banks, Dorchester County Economic Development Office</li>
                <li>Tony Kern, private citizen
                </li>
                <li>Walter Chase, private citizen</li>
            </ul>
        </li>
        <li class="advisCommittees">
            <p>Emercency Management&nbsp;&nbsp;
            <span class="toggle-close"></span></p>
            <ul class="members list-unstyled just-left" align="left" id="comEM">
                <li>Ken Decker, Caroline County Administer</li>
                <li>Bryan Ebling, Caroline County Emergency Services Director</li>
                <li>Jeremy Goldman, Dorchester County Emergency Services Director and County Manager</li>
                <li>Clay Stamp, Talbot County Emergency Services Director and Assistant County Manager</li>
                <li>Andy Hollis, Talbot County Manager</li>
            </ul>
        </li>
        <li class="advisCommittees" >
            <p>Geographic Information Science (GIS)&nbsp;&nbsp;
            <span class="toggle-close"></span></p>
            <ul class="members list-unstyled just-left" align="left" id="comGIS">
                <li>Joe Miller, Caroline County GIS Coordinator</li>
                <li>Jim McCormick, Caroline County</li>
                <li>Chris Kepheart, Caroline County</li>
                <li>Mark Cohoon, Talbot County Department of Public Works GIS Manager</li>
                <li>Megan DelGaudio, Queen Anne's County (QAC) Department of Planning and Zoning GIS Specialist</li>
                <li>Sam Stanton, QAC Department of Planning and Zoning GIS Analyst</li>
                <li>Tyler Pease, QAC Department of Planning and Zoning GIS Analyst</li>
                <li>Scott Shores, City of Cambridge GIS Analyst
                </li>
                <li>Tom Batchelor, Town of Denton Director of Planning and Codes</li>
                <li>Michael Scott, ESRGC Director</li>
                <li>Lauren McDermott, ESRGC Practice Manager</li>
                <li>Erin Silva, ESRGC Project Manager</li>
                <li>Brett Dobelstein, ESRGC GIS Analyst</li>
                <li>Logan Hall, ESRGC GIS Technician</li>
                <li>Mary Buffington, ESRGC Senior GIS Analyst</li>
                <li>Tu Hoang, ESRGC GIS Programmer</li>
                <li>Ryan Mello, ESRGC Project Manager</li>
                <li>Katy Maglio, ESRGC GIS Technician</li>
                <li>Carl Flint, ESRGC GIS Programmer</li>
                <li>Sierra Crist, ESRGC GIS Technician</li>
                <li>Nick Ward, Dorchester County</li>
                <li>Martin Sokolich, Talbot County Department of Planning and Zoning</li>
                <li>Donna Todd, Town of Denton</li>
                <li>Carla Gerber, Kent County GIS</li>
                <li>Scott Warner, MSRC Executive Director</li>
                <br>
                <p><u>Key</u>
                    <br> ESRGC = <a href='http://www.esrgc.org'>Eastern Shore Regional GIS Cooperative (esrgc.org)</a>
                    <br> GIS = Geographic Information Systems</p>
            </ul>
        </li>
        <li class="advisCommittees">
            <p>Information Technology&nbsp;&nbsp;
            <span class="toggle-close"></span></p>
            <ul class="members list-unstyled just-left" align="left" id="comIT">
                <li>Jim McCormick, Jr., Caroline County Department of Information Technologies Director</li>
                <li>Donald Keyes, Dorchester County Technology Department Director</li>
                <li>Parker Durham, Talbot County Information Technology Department Director</li>
            </ul>
        </li>
        <li class="advisCommittees" >
            <p>Maryland Upper Shore Transit (MUST)&nbsp;&nbsp;
            <span class="toggle-close"></span></p>
            <ul class="members list-unstyled just-left" align="left" id="comMUST">
                <li>John General, MUST Coordinator</li>
                <li>Santo Grande, DCS/DCT President and Chief Executive Officer</li>
                <li>Jerome Stanley, DCT Transportation Coordinator</li>
                <li>Jason Kepple, Maryland Transit Administration Regional Planner</li>
                <li>Cathy Willis, Queen Anne's County Department of Aging Director</li>
                <li>Anne Van Benschoten, Queen Anne's County Department of Community Services, Area Agency on Aging/County Ride, Transit Administrator</li>
                <li>Maria D'Arcy, MSRC member, bilingual advisor</li>
                <li>Alex Handy, The Handy Group</li>
                <li>Doris Mason, Upper Shore Regional Council Executive Director</li>
                <li>Scott Warner, MSRC Executive Director
                </li>
                <li>Jessie Thomas, Maryland State Department of Education, Division of Rehabilitation Services, Business Service Representative
                </li>
                <br>
                <p><u>Key</u>
                    <br> DCS = Delmarva Community Services, Inc.
                    <br> DCT = Delmarva Community Transportation (a division of DCS)
                    <br> MSRC = Mid-Shore Regional Council</p>
            </ul>
        </li>
    </ul>
    <br>
    <br>
    <br>
</div>
<div class="col-lg-4 col-sm-4 col-xs-4 pull-right">
    <ul class="list-unstyled">
        <!-- append output from python path_tools.py here -->
        <!-- example run dialoge from terminal 

                python path_tools.py -r D:\flint\msrc\msrc2.0\public\documents\advis_min -o D:\flint\msrc\msrc2.0\views\partials\advis_min.html
             

        output will be based on windows file path not unix style
        with Sublime find and replace root with . and \ with /
        -->
        <div class="advisMins" id="advisMin-CEDS">
            {{> advis_min-CEDS}}
        </div>
        <div class="advisMins" id="advisMin-EM">
            {{> advis_min-EM}}
        </div>
        <div class="advisMins" id="advisMin-GIS">
            {{> advis_min-GIS}}
        </div>
        <div class="advisMins" id="advisMin-IT">
            {{> advis_min-IT}}
        </div>
        <div class="advisMins" id="advisMin-MUST">
            {{> advis_min-MUST}}
        </div>
        <!--end python output-->
    </ul>
    <br>
    <br>
    <br>
</div>
