<div class="col-lg-8 col-sm-6 col-xs-12 pull-left">
    <ul class="list-unstyled" align="left">
        <li>
            <p>Chairman: Walter Chase</p>
        </li>
        <li>
            <p>1<sup>st</sup> Vice Chair: Dirck Bartlett</p>
        </li>
        <li>
            <p>2<sup>nd</sup> Vice Chair: Ricky Travers</p>
        </li>
        <li>
            <p>3<sup>rd</sup> Vice Chair: Dan Franklin</p>
        </li>
        <li>
            <p>Secretary: Allen Nelson</p>
        </li>
        <li>
            <p>Tresurer: Kurt Fuchs</p>
        </li>
        <li>
            <p>General Assembly: Delegate Christopher Adams</p>
        </li>
        <li>
            <p>Member At Large: Jeannie Haddaway-Riccio</p>
        </li>
        <li>
            <p>Member At Large: James Redman</p>
        </li>
    </ul>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12 pull-right">
    <ul class="list-unstyled">
        <li>
            <p><u>Meeting Minutes</u></p>
        </li>
        <!-- append output from python path_tools.py here -->
        <!-- example run dialoge from terminal 

                python path_tools.py -r D:\flint\msrc\msrc2.0\public\documents\exec_min -o D:\flint\msrc\msrc2.0\views\partials\exec_min.html
             

        output will be based on windows file path not unix style
        with Sublime find and replace root with . and \ with /
        -->{{> exec_min}}
        <!--end python output-->
    </ul>
    <br>
    <br>
    <br>
</div>
