<div class="col-lg-6 pull-left">
    <ul class="list-unstyled">
        <li>
            <p>Chairman: Name</p>
        </li>
        <li>
            <p>1st Vice Chair: Name</p>
        </li>
        <li>
            <p>2nd Vice Chair: Name</p>
        </li>
        <li>
            <p>3rd Vice Chair: Name</p>
        </li>
        <li>
            <p>Secretary: Name</p>
        </li>
        <li>
            <p>Tresurer: Name</p>
        </li>
    </ul>
</div>
<div class="col-lg-6 pull-right">
    <ul class="list-unstyled">
        <li>
            <p><u>Meeting Minutes</u></p>
        </li>
        <li class="years">
            <p>2017</p>
            <ul class="list-unstyled archive_months" id="exec2017">
                <li>January</li>
                <li>February</li>
                <li>March</li>
                <li>April</li>
                <li>May</li>
                <li>June</li>
                <li>July</li>
                <li>August</li>
                <li>September</li>
                <li>October</li>
                <li>November</li>
                <li>December</li>
            </ul>
        </li>
        <li class="years">
            <p>2016</p>
            <ul class="list-unstyled archive_months" id="exec2016">
                <li>January</li>
                <li>February</li>
                <li>March</li>
                <li>April</li>
                <li>May</li>
                <li>June</li>
                <li>July</li>
                <li>August</li>
                <li>September</li>
                <li>October</li>
                <li>November</li>
                <li>December</li>
            </ul>
        </li>
        <li class="years">
            <p>2015</p>
            <ul class="list-unstyled archive_months" id="exec2015">
                <li>January</li>
                <li>February</li>
                <li>March</li>
                <li>April</li>
                <li>May</li>
                <li>June</li>
                <li>July</li>
                <li>August</li>
                <li>September</li>
                <li>October</li>
                <li>November</li>
                <li>December</li>
            </ul>
        </li>
        <li class="years">
            <p>2014</p>
            <ul class="list-unstyled archive_months" id="exec2014">
                <li>January</li>
                <li>February</li>
                <li>March</li>
                <li>April</li>
                <li>May</li>
                <li>June</li>
                <li>July</li>
                <li>August</li>
                <li>September</li>
                <li>October</li>
                <li>November</li>
                <li>December</li>
            </ul>
        </li>
    </ul>
    <br>
    <br>
    <br>
</div>
