<!-- Footer -->
<!--Fixed bottom sticky footer-->
<div class="navbar navbar-fixed-bottom">
    <div class="footer-bottom transition-all">
        <!-- Responsive footer button -->
        <div class="footer_button_div text-center">
            <div id="footer_button">
                <a>
                    <i class="fa fa-bars fa-fw fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <!-- <br /><br />-->
            <hr>
            <p class="pull-left" id="cpyRight">Copyright &copy; 2017 Mid-Shore Regional Council. All rights reserved.</p>
            <ul class="list-inline pull-right" id="socialMedia">
                <li>
                    <a href="#"><i class="fa fa-snapchat-ghost fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--hidden expanding footer-->
<div class="footer transition-all">
    <div id="footer_higher" class="navbar navbar-fixed-bottom transition-all">
        <div id="footer_content" class="transition-all">
            <div class="container-fluid transition-all">
                <div class="row transition-all">
                    <div id="footAbout" class="col-lg-2 col-md-2 col-sm-2 col-xs-3 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li>
                                <a href="./about">
                                    <p>About</p>
                                </a>
                            </li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li>
                                <a href="./about">
                                    <p>The MSRC</p>
                                </a>
                            </li>
                            <br>
                            <li>
                                <!-- errors occur when usint this functionality in firefox and edge -->
                                <a href="./about#members">
                                    <p>MSRC Members</p>
                                </a>
                            </li>
                            <br>
                            <li>
                                <!-- errors occur when usint this functionality in firefox and edge -->
                                <a href="./about#spotlight">
                                    <p>MSRC's spotlight</p>
                                </a>
                            </li>
                            <br>
                            <li>
                                <!-- errors occur when usint this functionality in firefox and edge -->
                                <a href="./about#records">
                                    <p>MSRC records</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="footCommittee" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li>
                                <a href="./committees">
                                    <p>Committees</p>
                                </a>
                            </li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li>
                                <a href="./committees#execGroup">
                                    <p>Executive Group</p>
                                </a>
                            </li>
                            <br>
                            <!-- <li><a href="./committees#advisGroup"><p>Advisory Group</p></a></li> -->
                            <li><a id="dropdownMenuButton" href="./committees#advisGroup">Advisory Group&nbsp;&nbsp;
                            <span data-target=".comMenu" class="toggle-close transition-all"></span></a>
                                <ul class="comMenu list-unstyled">
                                    <li class="comMenu_child"><a href="./committees#comCEDS">CEDS</a></li>
                                    <li class="comMenu_child"><a href="./committees#comEM">Emergency Management</a></li>
                                    <li class="comMenu_child"><a href="./committees#comGIS">Geographic Information Science (GIS)</a></li>
                                    <li class="comMenu_child"><a href="./committees#comIT">Information Technology</a></li>
                                    <li class="comMenu_child"><a href="./committees#comMUST">Maryland Upper Shore Transit (MUST)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="footPartnerships" class="col-lg-2 col-md-2 col-sm-2 col-xs-3 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li>
                                <a href="./partners">
                                    <p>Partnerships</p>
                                </a>
                            </li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li>
                                <a href="./partners">
                                    <p>MSRC Associates</p>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a href="./partners">
                                    <p>Team progress</p>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a href="./partners">
                                    <p>Partner with us</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="footContact" class="col-lg-2 col-md-2 col-sm-2 col-xs-3 list-inline pull-right transition-all">
                        <ul class="list-unstyled">
                            <li>
                                <p>Contact</p>
                            </li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li>
                                <p>8737 Brooks Drive</p>
                            </li>
                            <li>
                                <p>Suite 101</p>
                            </li>
                            <li>
                                <p>Easton, MD 21601</p>
                            </li>
                            <li><i class="fa fa-phone fa-fw"></i><a href="tel:4107704797">(410) 770-4798</a></li>
                            <br>
                            <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:info@midshore.org">&nbsp;info@midshore.org</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_wrapper_all container-fluid">
    <div class="row">
        <div class="footer_buffer">
        </div>
    </div>
</div>
<!--return to top button-->
<div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
    </a>
</div>
