<!-- Footer -->
    <footer class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 list-inline pull-left">
                <ul class="list-unstyled">
                    <li><a href="./about">About</a></li>
                    <li><hr align="left" class="small"></li>
                    <li><a href="./about">The MSRC</a></li><br>
                    <li><a href="./about">MSRC Members</a></li><br>
                    <li><a href="./about">MSRC's purpose</a></li><br>
                    <li><a href="./about">MSRC minutes</a></li>
                </ul>
                </div>

                <div class="col-lg-2 list-inline pull-left">
                <ul class="list-unstyled">
                    <li><a href="./committees">Committees</a></li>
                    <li><hr align="left" class="small"></li>
                    <li><a href="./committees">Executive Group</a></li><br>
                    <li><a href="./committees">Advisory Group</a></li>
                </ul>
                </div>
                <div class="col-lg-2 list-inline pull-left">
                <ul class="list-unstyled">
                    <li><a href="./partners">Partnerships</a></li>
                    <li><hr align="left" class="small"></li>
                    <li><a href="./partners">MSRC Associates</a></li><br>
                    <li><a href="./partners">Team progress</a></li><br>
                    <li><a href="./partners">Partner with us</a></li>
                </ul>
                </div>

                <div class="col-lg-4 col-md-2 list-inline pull-right">
                    <ul class="list-unstyled">
                        <li>Contact</li>
                        <li><hr align="left" class="small"></li>
                        <li>8737 Brooks Drive</li><br>
                        <li>Suite 101</li><br>
                        <li>Easton, MD 21601</li><br>
                        <li><i class="fa fa-phone fa-fw"></i> (410) 770-4798</li><br>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">info@midshore.org</a>
                        </li>
                    </ul>
                    <br>

                </div>
                <!--return to top button-->
                 <a id="to-top" href="#top" class="btn btn-dark btn-lg centered"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
            </div>
        </div>
            <br /><br />
            <hr >
            <p class="text-muted pull-left">Copyright &copy; 2017 Mid-Shore Regional Council. All rights reserved.</p>
                    <ul class="list-inline pull-right">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>

    </footer>