<!-- Footer -->
<!--Fixed bottom sticky footer-->
<div class="navbar navbar-fixed-bottom">
    <div class="footer-bottom">
        <!-- Responsive footer button -->
        <div class="footer_button_div text-center">
            <div id="footer_button">
                <a href="#">
                    <i class="fa fa-bars fa-fw fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <!-- <br /><br />-->
            <hr>
            <p class="pull-left">Copyright &copy; 2017 Mid-Shore Regional Council. All rights reserved.</p>
            <ul class="list-inline pull-right">
                <li>
                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--hidden expanding footer-->
<div class="footer transition-all">
    <div id="footer_higher" class="navbar navbar-fixed-bottom transition-all">
        <div id="footer_content" class="transition-all">
            <div class="container-fluid transition-all">
                <div class="row transition-all">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li><a href="./about">About</a></li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li><a href="./about">The MSRC</a></li>
                            <br>
                            <li><a href="./about">MSRC Members</a></li>
                            <br>
                            <li><a href="./about">MSRC's purpose</a></li>
                            <br>
                            <li><a href="./about">MSRC minutes</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li><a href="./committees">Committees</a></li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li><a href="./committees">Executive Group</a></li>
                            <br>
                            <li><a href="./committees">Advisory Group</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 list-inline pull-left transition-all">
                        <ul class="list-unstyled">
                            <li><a href="./partners">Partnerships</a></li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li><a href="./partners">MSRC Associates</a></li>
                            <br>
                            <li><a href="./partners">Team progress</a></li>
                            <br>
                            <li><a href="./partners">Partner with us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 list-inline pull-right transition-all">
                        <ul class="list-unstyled">
                            <li>
                                <p>Contact</p>
                            </li>
                            <li>
                                <hr align="left" class="small">
                            </li>
                            <li>
                                <p>8737 Brooks Drive</p>
                            </li>
                            <li>
                                <p>Suite 101</p>
                            </li>
                            <li>
                                <p>Easton, MD 21601</p>
                            </li>
                            <li><i class="fa fa-phone fa-fw"></i><a href="#">(410) 770-4798</a></li>
                            <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:info@midshore.org">info@midshore.org</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_wrapper_all container-fluid">
    <div class="row">
        <div class="footer_buffer">
        </div>
    </div>
</div>
<!--return to top button-->
<div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
    </a>
</div>
