<!-- attempt 1 -->
<!-- <figcaption id="logo">
    <h2 id="logo_lrg">Mid Shore&nbsp;</h2>
    <h3 id="logo_med">&nbsp;&nbsp;Regional Council</h3>
<br>
<p id="logo_sm">&nbsp;Serving Caroline, Dorchester and Talbot Counties Maryland</p></figcaption> -->
<!-- attempt 2 -->
<!-- <div class="transition-all" id="logoBrand">
    <h2 id="logo_lrg">Mid Shore
&nbsp;
    <h3 id="logo_med">Regional Council</h3>&nbsp;<br><br>
    <p id="logo_sm">Serving Caroline, Dorchester and Talbot Counties Maryland</p>
    </h2>
</div> -->
<!-- attempt 3 -->
<div class="transition-all" id="logoBrand">
    <ul class="list-unstyled">
        <li>
            <h2 class="transition-all" id="logo_lrg">Mid Shore&nbsp;</h2>
            <h3 class="transition-all" id="logo_med">Regional Council</h3>
        </li>
        <li>
            <br />
            <br />
            <!-- <p id="logo_sm">Serving Caroline, Dorchester and Talbot Counties Maryland</p> -->
            <p class="transition-all" id="logo_sm">Serving Caroline, Dorchester and Talbot Counties Maryland</p>
        </li>
    </ul>
</div>
