<div class="container-fluid" id="membersSlide">
  <div class="row" id="membersDiv">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">
      <ul class="list-unstyled text-center imgHeader2 imgHeaderLeft" id="votingMem-button">
        <br>
        <li>
          <!-- <i class="fa fa-university fa-fw fa-3x"></i> -->
        </li>
        <br>
        <!-- <hr> -->
        <br>
        <li>
          <h3><strong>Voting Members</strong></h3>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">
      <ul class="list-unstyled text-center imgHeader2 imgHeaderRight" id="nonVoting-button">
        <br>
        <li>
          <!-- <i class="fa fa-comments fa-fw fa-3x"></i> -->
        </li>
        <br>
        <!-- <hr> -->
        <br>
        <li>
          <h3><strong>Non-Voting Members</strong></h3>
        </li>
      </ul>
    </div>
  </div>
  <div id="membersDiv2">
    <div class="membersDiv2_open records-textBox transition-all" id="votingMem">
      <h4 class="textBox-toggle text-center" align="center">Close&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="slide-toggle-open transition-all"></span>
            </h4>
      <h4 class="text-center" align="center">Voting Members</h4>
      <hr class="drk">
      <div class="textBox-body">
        <ul class="font-blocky-drk just-left mid-padding" align='left'>
          <li>
            <p>Dan Franklin, Caroline County Commissioner</p>
          </li>
          <li>
            <p>Larry Porter, Caroline County Commissioner</p>
          </li>
          <li>
            <p>Ricky Travers, Dorchester County Council</p>
          </li>
          <li>
            <p>Don Satterfield, Dorchester County Council</p>
          </li>
          <li>
            <p>Dirck Bartlett, Talbot County Council</p>
          </li>
          <li>
            <p>Chuck Callahan, Talbot County Council</p>
          </li>
          <li>
            <p>Anthony Casey, Ridgely Commissioner</p>
          </li>
          <li>
            <p>Robert Hanson, Cambridge City Council</p>
          </li>
         <!--  <li>
            <p>Rosalee Potter, Trappe Town Council</p>
          </li> -->
          <li>
            <p>Walter Chase, private citizen</p>
          </li>
          <li>
            <p>Adelaide Eckardt, Senator – Maryland District 37</p>
          </li>
          <li>
            <p>Chris Adams, Delegate – Maryland District 37B</p>
          </li>
          <li>
            <p>Johnny Mautz, Delegate – Maryland District 37B</p>
          </li>
          <li>
            <p>Maria D'Arcy, Caroline County minority representative</p>
          </li>
          <li>
            <p>Jerome Stanley, Dorchester County minority representative</p>
          </li>
          <li>
            <p>Burton Wilson, Talbot County minority representative</p>
          </li>
          <li>
            <p>Gale Nashold, Caroline County private sector/private citizen</p>
          </li>
          <li>
            <p>Allen Nelson, Dorchester County private sector/private citizen</p>
          </li>
          <li>
            <p>James Redman, Talbot County private sector/private citizen</p>
          </li>
          <li>
            <p>Russell Brinsfield, Mayor of Vienna</p>
          </li>
          <li>
            <p>Kelley Cox, Maryland Seafood Industries</p>
          </li>
          <li>
            <p>Dan Rider, Association of Forestry Industries, Inc.</p>
          </li>
          <li>
            <p>Kurt Fuchs, Maryland Farm Bureau</p>
          </li>
          <li>
            <p>Carolyn Spicher, Caroline County businesswoman</p>
          </li>
          <li>
            <p>Michael LeMire, Dorchester County businessman</p>
          </li>
          <li>
            <p>Jeannie Haddaway-Riccio, Talbot County businesswoman</p>
          </li>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ul>
      </div>
    </div>
    <div class="membersDiv2_open records-textBox transition-all" id="nonVoting">
      <h4 class="textBox-toggle text-center" align="center">Close&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="slide-toggle-open transition-all"></span>
            </h4>
      <h4 class="text-center" align="center">Non-Voting Members</h4>
      <hr class="drk">
      <div class="textBox-body">
        <ul class="font-blocky-drk just-left mid-padding" align='left'>
          <li>
            <p>Wilbur Levengood, Jr., Caroline County Commissioner</p>
          </li>
          <li>
            <p>Rick Price, Dorchester County Council</p>
          </li>
          <li>
            <p>William Nichols, Dorchester County Council</p>
          </li>
          <li>
            <p>Thomas Bradshaw, Dorchester County Council</p>
          </li>
          <li>
            <p>Jennifer Williams, Talbot County Council</p>
          </li>
          <li>
            <p>Corey Pack, Talbot County Council</p>
          </li>
          <li>
            <p>Laura Price, Talbot County Council</p>
          </li>
          <li>
            <p>Ken Decker, Caroline County Administrator</p>
          </li>
          <li>
            <p>Jeremy Goldman, Dorchester County Manager</p>
          </li>
          <li>
            <p>Andy Hollis, Talbot County Manager</p>
          </li>
          <li>
            <p>Steven Arentz, Delegate - Maryland District 36</p>
          </li>
          <li>
            <p>Jeff Ghrist, Delegate – Maryland District 36</p>
          </li>
          <li>
            <p>Jay Jacobs, Delegate - Maryland District 36</p>
          </li>
          <li>
            <p>Stephen Hershey, Jr., Senator - Maryland District 36</p>
          </li>
          <li>
            <p>Sheree Sample-Hughes, Delegate – Maryland District 37A</p>
          </li>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>
