<div class="row container-fluid" id="membersSlide">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="membersDiv">
        <div class="membersDiv_open">
            <ul class="list-unstyled" id="votingMem-button">
                <li>
                    <h3>Voting Members</h3>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum iusto nostrum tempore ad ab earum quas est perferendis ea necessitatibus corrupti id, atque, tenetur, dolorem porro ex. Laboriosam, porro.</p>
                </li>
                <li>
                    <p><u>Meet voting members</u></p>
                </li>
            </ul>
            <ul class="list-unstyled" id="nonVoting-button">
                <li>
                    <h3>Non-Voting Members</h3>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi molestiae, nam fuga quas nesciunt maxime magnam voluptatum reiciendis cumque beatae, illo doloribus nemo tempora assumenda optio et atque facere provident.</p>
                </li>
                <li>
                    <p><u>Meet non-voting members</u></p>
                </li>
            </ul>
        </div>
        <div class="membersDiv_bg"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="membersDiv2">
        <div class="membersDiv2_open transition-all" id="votingMem">
            <ul class="list-unstyled">
                <li>
                    <h3>Voting Members</h3>
                </li>
                <li>
                    <p>Dan Franklin, Caroline County Commissioner</p>
                </li>
                <li>
                    <p>Larry Porter, Caroline County Commissioner</p>
                </li>
                <li>
                    <p>Ricky Travers, Dorchester County Council</p>
                </li>
                <li>
                    <p>Don Satterfield, Dorchester County Council</p>
                </li>
                <li>
                    <p>Dirck Bartlett, Talbot County Council</p>
                </li>
                <li>
                    <p>Chuck Callahan, Talbot County Council</p>
                </li>
                <li>
                    <p>Anthony Casey, Ridgely Commissioner</p>
                </li>
                <li>
                    <p>Robert Hanson, Cambridge City Council</p>
                </li>
                <li>
                    <p>Rosalee Potter, Trappe Town Council</p>
                </li>
                <li>
                    <p>Walter Chase, private citizen</p>
                </li>
                <li>
                    <p>Adelaide Eckardt, Senator – Maryland District 37</p>
                </li>
                <li>
                    <p>Chris Adams, Delegate – Maryland District 37B</p>
                </li>
                <li>
                    <p>Johnny Mautz, Delegate – Maryland District 37B</p>
                </li>
                <li>
                    <p>Maria D'Arcy, Caroline County minority representative</p>
                </li>
                <li>
                    <p>Jerome Stanley, Dorchester County minority representative</p>
                </li>
                <li>
                    <p>Burton Wilson, Talbot County minority representative</p>
                </li>
                <li>
                    <p>Gale Nashold, Caroline County private sector/private citizen</p>
                </li>
                <li>
                    <p>Allen Nelson, Dorchester County private sector/private citizen</p>
                </li>
                <li>
                    <p>James Redman, Talbot County private sector/private citizen</p>
                </li>
                <li>
                    <p>Russell Brinsfield, Mayor of Vienna</p>
                </li>
                <li>
                    <p>Buddy Harrison, Maryland Seafood Industries</p>
                </li>
                <li>
                    <p>Dan Rider, Association of Forestry Industries, Inc.</p>
                </li>
                <li>
                    <p>Kurt Fuchs, Maryland Farm Bureau</p>
                </li>
                <li>
                    <p>Carolyn Spicher, Caroline County businesswoman</p>
                </li>
                <li>
                    <p>Michael LeMire, Dorchester County businessman</p>
                </li>
                <li>
                    <p>Jeannie Haddaway-Riccio, Talbot County businesswoman</p>
                </li>
                <br>
                <br>
                <br>
            </ul>
        </div>
        <div class="membersDiv2_open transition-all" id="nonVoting">
            <ul class="list-unstyled">
                <li>
                    <h3>Non-Voting Members</h3>
                </li>
                <li>
                    <p>Wilbur Levengood, Jr., Caroline County Commissioner</p>
                </li>
                <li>
                    <p>Rick Price, Dorchester County Council</p>
                </li>
                <li>
                    <p>William Nichols, Dorchester County Council</p>
                </li>
                <li>
                    <p>Thomas Bradshaw, Dorchester County Council</p>
                </li>
                <li>
                    <p>Jennifer Williams, Talbot County Council</p>
                </li>
                <li>
                    <p>Corey Pack, Talbot County Council</p>
                </li>
                <li>
                    <p>Laura Price, Talbot County Council</p>
                </li>
                <li>
                    <p>Ken Decker, Caroline County Administrator</p>
                </li>
                <li>
                    <p>Jeremy Goldman, Dorchester County Manager</p>
                </li>
                <li>
                    <p>Andy Hollis, Talbot County Manager</p>
                </li>
                <li>
                    <p>Steven Arentz, Delegate - Maryland District 36</p>
                </li>
                <li>
                    <p>Jeff Ghrist, Delegate – Maryland District 36</p>
                </li>
                <li>
                    <p>Jay Jacobs, Delegate - Maryland District 36</p>
                </li>
                <li>
                    <p>Stephen Hershey, Jr., Senator - Maryland District 36</p>
                </li>
                <li>
                    <p>Sheree Sample-Hughes, Delegate – Maryland District 37A</p>
                </li>
            </ul>
        </div>
        <div class="membersDiv2_bg"></div>
    </div>
</div>
