<nav class="navbar navbar-inverse navbar-fixed-top" id="navTop">
    <!--<div class="godown-60" id="godown"></div>-->
    <div class="container-fluid" id="navWrapper">
        <div class="row-fluid">
            <div class="col-lg-6 col-sm-6 col-xs-8">
                <div class="navbar-header" id="logoWrapper">
                    <!-- <a class="navbar-brand transition-all" href="#" id="logo"><img src="./img/logos/msrcLargeFormatTEST.png" id="logoLarge" class="grayscale"></a>  -->
                    {{> logo}}
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-4 transition-all ">
                <ul class="nav navbar-nav navbar-right text-vertical-center" id="myTopnav">
                    <li>
                        <a href="./index" id="nav-links">
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="./about" id="nav-links">
                            <p>About</p>
                        </a>
                    </li>
                    <li>
                        <a href="./committees" id="nav-links">
                            <p>Committees</p>
                        </a>
                    </li>
                    <li>
                        <a href="./partners" id="nav-links">
                            <p>Partners</p>
                        </a>
                    </li>
                    <li>
                        <a href="./resource" id="nav-links">
                            <p>Resources</p>
                        </a>
                    </li>
                    <li class="icon">
                        <i class="fa fa-bars fa-fw fa-2x" onclick="mobileNav()"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
