<li class="just-center">
  <p>
    Quarterly Minutes
  </p>
</li>
<!--quarterly_mins-->
<li class='years' id='2017'>
  <p>2017</p>
  <ul class='list-unstyled archive_months'>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2017/Minutes MSRC quarterly mtg 9-14-17.pdf'>09-14-2017</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2017/Minutes MSRC quarterly mtg 6-8-17.pdf'>06-08-2017</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2017/Minutes MSRC quarterly mtg 3-9-17.pdf'>03-09-2017</a>
    </li>
  </ul>
</li>
<li class='years' id='2016'>
  <p>2016</p>
  <ul class='list-unstyled archive_months'>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2016/Minutes MSRC quarterly mtg 2016-12-08.pdf'>12-08-2016</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2016/Minutes MSRC quarterly mtg 2016-09-22.pdf'>09-22-2016</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2016/Minutes MSRC quarterly mtg 2016-06-09.pdf'>06-09-2016</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2016/Minutes MSRC quarterly mtg 2016-03-09.pdf'>03-09-2016</a>
    </li>
  </ul>
</li>
<li class='years' id='2015'>
  <p>2015</p>
  <ul class='list-unstyled archive_months'>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2015/Minutes MSRC quarterly mtg 2015-12-10.pdf'>12-10-2015</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2015/Minutes MSRC quarterly mtg 2015-09-17.pdf'>09-17-2015</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2015/Minutes MSRC quarterly mtg 2015-06-11.pdf'>06-11-2015</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2015/Minutes MSRC quarterly mtg 2015-03-18.pdf'>03-18-2015</a>
    </li>
  </ul>
</li>
<li class='years' id='2014'>
  <p>2014</p>
  <ul class='list-unstyled archive_months'>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2014/Minutes MSRC quarterly mtg 2014-12-11.pdf'>12-11-2014</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2014/Minutes MSRC quarterly mtg 2014-09-17.pdf'>09-17-2014</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2014/Minutes MSRC quarterly mtg 2014-06-12.pdf'>06-12-2014</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/2014/Minutes MSRC quarterly mtg 2014-03-12.pdf'>03-12-2014</a>
    </li>
  </ul>
</li>
<li class='years' id='Archive'>
  <p>Archive</p>
  <ul class='list-unstyled archive_months'>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2013-12-12.pdf'>12-12-2013</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2013-09-18.pdf'>09-18-2013</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2013-06-13.pdf'>06-13-2013</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2013-03-14.pdf'>03-14-2013</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2012-12-13.pdf'>12-13-2012</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2012-09-20.pdf'>09-20-2012</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2012-06-21.pdf'>06-21-2012</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2012-03-15.pdf'>03-15-2012</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2011-12-08.pdf'>12-08-2011</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2011-09-15.pdf'>09-15-2011</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2011-06-09.pdf'>06-09-2011</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2011-03-16.pdf'>03-16-2011</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2010-12-09.pdf'>12-09-2010</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2010-09-22.pdf'>09-22-2010</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2010-06-09.pdf'>06-09-2010</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2010-03-17.pdf'>03-17-2010</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2009-12-21.pdf'>12-21-2009</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2009-09-10.pdf'>09-10-2009</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2009-06-10.pdf'>06-10-2009</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2009-03-18.pdf'>03-18-2009</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2008-11-12.pdf'>11-12-2008</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2008-09-17.pdf'>09-17-2008</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2008-06-11.pdf'>06-11-2008</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2008-03-05.pdf'>03-05-2008</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2007-11-08.pdf'>11-08-2007</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2007-09-12.pdf'>09-12-2007</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2007-06-13.pdf'>06-13-2007</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2007-03-22.pdf'>03-22-2007</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2006-12-13.pdf'>12-13-2006</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2006-09-13.pdf'>09-13-2006</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2006-06-14.pdf'>06-14-2006</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2006-03-15.pdf'>03-15-2006</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2005-12-05.pdf'>12-05-2005</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2005-09-14.pdf'>09-14-2005</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2005-05-11.pdf'>05-11-2005</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2005-02-16.pdf'>02-16-2005</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2004-12-08.pdf'>12-08-2004</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2004-10-27.pdf'>10-27-2004</a>
    </li>
    <li class="minutes">
      <a target="_blank" href='./documents/msrc/quarterly_mins/Archive/Minutes MSRC quarterly mtg 2004-06-02.pdf'>06-02-2004</a>
    </li>
  </ul>
</li>
