<section class="records-wrapper" id="recordsWrapper">
    <div class="container-fluid" id="recordsWrapper2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center" >

                <ul class="list-unstyled text-center imgHeaderLeft imgHeader2" id="grid-item-workPlan">
                    <li>
                        <i class="fa fa-suitcase fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Work Plan</strong></h3>
                        <p>
                            <br>
                            <br>
                            <br>
                        </p>
                    </li>
                    <li>
                      <!-- <a id="workPlanLink" href="#"><u>Download FY17 Scope of Work</u></a> -->
                      <a href="documents/msrc/MSRC FY19 Work Plan - FINAL.pdf"><u>Download FY19 Scope of Work</u></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">
              <ul class="list-unstyled text-center imgHeaderRight imgHeader2" id="grid-item-CEDS">
                  <li>
                      <i class="fa fa-file-text fa-fw fa-3x"></i>
                      <hr>
                  </li>
                  <li>
                      <h3><strong>CEDS</strong></h3>
                      <p>
                          <!-- <br>Scope of Work - Fiscal Year 2017 -->
                          <!-- <br>Federal Identification Number: 52 - 2340230 -->
                          <br>
                          <br>
                          <br>
                      </p>
                  </li>
                  <li>
                    <a id="CEDSLink" href="#"><u>Download CEDS</u></a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center" >

                <ul class="list-unstyled text-center imgHeaderLeft imgHeader2" id="grid-item-byLaws">
                    <li>
                        <i class="fa fa-gavel fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Bylaws</strong></h3>
                        <p>
                            <!-- <br>Governing rules defining
                            <br>all internal affairs -->
                            <br>
                            <br>
                            <br><a id="byLawsLink" href="#"><u>Download ByLaws</u></a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">
                <ul class="list-unstyled text-center imgHeaderRight imgHeader2" id="grid-item-meetMinutes">
                    <li>
                        <i class="fa fa-file fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Meeting Minutes</strong></h3>
                        <p style="margin: 0;">
                          <br>
                          <br>
                          <br>
                          <div class="row">
                          <div class="col-lg-6 col-md-6 col-xs-6 pull-left">
                            <!-- <button type="button" id="btn-Quarterly" class="btn btn-outline-secondary"> Quarterly Minutes</button> -->
                            <a id="btn-Quarterly" href="#"><u>Quarterly Minutes</u></a>
                          </div>

                          <div class="col-lg-6 col-md-6 col-xs-6 pull-right">
                            <!-- <button type="button" id="btn-Executive" class="btn btn-outline-secondary"> Executive Board Minutes</button> -->
                            <a id="btn-Executive" href="#"><u>Executive Board Minutes</u></a>
                          </div>
                          </div>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="records-textBox" id="QuarterlyMin">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="slide-toggle-open transition-all"></span></h4>
        <hr class="drk">
        <div class="textBox-body">
            <div class="minWrapper">
                <ul class="list-unstyled just-left tiny-padding">
                  <!-- quarterly mins template-->
                    {{> quarterly-mins}}
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>
    <div class="records-textBox" id="ExecutiveMin">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="slide-toggle-open transition-all"></span></h4>
        <hr class="drk">
        <div class="textBox-body">
            <div class="minWrapper">
                <ul class="list-unstyled just-left tiny-padding">
                  <!-- executive mins template-->
                    {{> exec_min}}
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>

</section>
