<section class="records-wrapper">
    <div class="grid" id="masonry-container-records">
        <div class="grid-box-records"> </div>
    </div>
    <div id="recordsImages">
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, perferendis quo! Distinctio ex a pariatur aliquid nostrum tempore, ea ad id eaque, porro alias aliquam rerum vel, perspiciatis praesentium numquam. </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Work Plan</strong>
                <br>Scope of Work - Fiscal Year 2017
                <br> Federal Identification Number: 52 - 2340230
                <br>
                <br>
            </figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rerum, odit dolorem perspiciatis praesentium sunt, labore nesciunt, modi ipsam cupiditate, minus nisi architecto quae a ipsum assumenda perferendis sed aspernatur. </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Meeting Minutes</strong>
                <br>Itemized summary of expenditures
                <br>for Fiscal year 2017</figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis in esse quasi culpa corporis possimus cumque officia nihil animi dignissimos dolorum velit vel, ad pariatur magni? Ducimus, reiciendis, eaque? </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Bylaws</strong>
                <br>Governing rules defining
                <br>all internal affairs</figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio magni reiciendis culpa nesciunt blanditiis quos fugiat laboriosam, sed quo omnis, officiis est nobis delectus neque molestiae commodi veritatis, maxime? </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>MSRC</strong>
            </figcaption>
        </div>
    </div>
</section>
