<section class="records-wrapper">
    <div class="grid" id="masonry-container-records">
        <div class="grid-box-records"> </div>
    </div>
    <div id="recordsImages">
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="inner hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, perferendis quo! Distinctio ex a pariatur aliquid nostrum tempore, ea ad id eaque, porro alias aliquam rerum vel, perspiciatis praesentium numquam.
                <!--download link ./documents/MSRC FY17 Work Plan - FINAL.pdf-->
                <a id="dwnld" class="wrkpln" href="./documents/MSRC_FY17_Work_Plan.pdf" download="MSRC Work Plan">Download MSRC's Work Plan</a>
            </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Work Plan</strong>
                <br>Scope of Work - Fiscal Year 2017
                <br> Federal Identification Number: 52 - 2340230
                <br>
                <br>
            </figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="inner hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rerum, odit dolorem perspiciatis praesentium sunt, labore nesciunt, modi ipsam cupiditate, minus nisi architecto quae a ipsum assumenda perferendis sed aspernatur. </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Meeting Minutes</strong>
                <br>Itemized summary of expenditures
                <br>for Fiscal year 2017</figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="inner hidden"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis in esse quasi culpa corporis possimus cumque officia nihil animi dignissimos dolorum velit vel, ad pariatur magni? Ducimus, reiciendis, eaque?
                <!--To do make button able to download doc without collapse masonry-->
                <a id="dwnld" class="bylaw" href="./documents/MSRC_Bylaws.doc" download="MSRC Bylaws">Download MSRC's Bylaws</a>
            </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>Bylaws</strong>
                <br>Governing rules defining
                <br>all internal affairs
            </figcaption>
        </div>
        <div class="records-gridItem" id="grid-item">
            <figcaption id="textBox" class="inner hidden">
                <ul class="list-unstyled" align="left">
                    <li>
                        <figcaption>The Mid-Shore Regional Council (MSRC) was created in 2001 via enabling legislation proposed by the Eastern Shore Delegation in response to recommendations made in the Governor's Eastern Shore Economic Development Task Force Report.</figcaption>
                    </li>
                    <br>
                    <li>
                        <figcaption>The MSRC operates as a cooperative regional planning and development agency within Caroline, Dorchester and Talbot Counties to foster physical, economic, and social development. The Council initiates and coordinates plans and projects for the development of human and economic resources.</figcaption>
                    </li>
                    <br>
                    <li>
                        <figcaption>The MSRC is a federally designated Economic Development District (an economically distressed area) that enables federal funding to the region through the U.S. Department of Commerce's Economic Development Administration.</figcaption>
                    </li>
                    <br>
                    <li>
                        <figcaption>Scope of work highlights:</figcaption>
                        <br>
                        <ul class="list-group sowHighlight">
                            <li>
                                <figcaption> <b>Facilitate the Comprehensive Economic Development Strategy (CEDS) for the Mid-Shore Region.</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Continue to partner with the Maryland Broadband Cooperative, Inc. (MdBC) </b>
                                    <br> in its mission "to drive economic development through universal, open access to broadband services via a fiber optic network that serves rural Maryland by building an advanced, world-class broadband network across the rural communities of Eastern, Southern and Western Maryland supported by its members who provide "Last Mile" services. The MdBC was created by the MSRC and the other four regional councils in the state. </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Assist/facilitate EDA applications and implementation of CEDS projects</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Assist with EDA funding for the Regional Medical Facility.</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Provide governance of the regional transit project Maryland Upper Shore Transit (MUST).</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Continue to partner with the Eastern Shore Entrepreneurship Center (ESEC)</b>
                                    <br>in its purpose to stimulate and support entrepreneurship. ESEC is a MSRC initiative. </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Continue to partner with Shore Gourmet, Inc.</b>MSRC's business development initiative to promote and sustain the food and agricultural businesses located on Maryland's Eastern Shore.
                                </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Assist with the Dorchester Regional Incubator as requested.</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Support the Eastern Shore Regional GIS Cooperative (ESRGC).</b> The ESRGC is a joint effort between the MSRC, the Tri-County Council for the Lower Eastern Shore (TCCLES), and Salisbury University to provide access to geographic information systems (GIS) technology, data, technical support, and training to the local governments of Maryland's Eastern Shore.
                                </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Continue developing the GeoDASH Initiative</b> - work with EDA, DBED, and TCCLES to build capacity between the ESRGC and BEACON to assist the MSRC and TCCLES regions in analysis of economic, transportation and workforce issues through GIS dashboard tools.</figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Assist in the establishment of a study to determine the feasibility of a regional technology school or utilizing Chesapeake College in offering regional technology programs.</b> </figcaption>
                            </li>
                            <li>
                                <figcaption> <b>Explore the establishment of a Health Cluster Economic Impact Work Group.</b> </figcaption>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li><u>Key</u></li>
                    <li>
                        <figcaption>BEACON = Business, Economics, and Community Outreach Network, Franklin P. Perdue School of Business at Salisbury University</figcaption>
                        <br>
                    </li>
                    <li>
                        <figcaption>DBED = Maryland Department of Business and Economic Development</figcaption>
                        <br>
                    </li>
                    <li>
                        <figcaption>EDA = Economic Development Administration, U.S. Department of Commerce</figcaption>
                        <br>
                    </li>
                    <li>
                        <figcaption>GIS = Geographic Information Systems</figcaption>
                        <br>
                    </li>
                    <li>
                        <figcaption>TCCLES = Tri-County Council for the Lower Eastern Shore of Maryland</figcaption>
                    </li>
                </ul>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </figcaption>
            <img src="http://placehold.it/350x150">
            <figcaption id="textBox" class="imgHeader">
                <strong>MSRC</strong>
            </figcaption>
        </div>
    </div>
</section>
