<section class="records-wrapper" id="recordsWrapper">
    <div class="container-fluid" id="recordsWrapper2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center" id="workPlanLink">
          
                <ul class="list-unstyled text-center imgHeaderLeft imgHeader2" id="grid-item-workPlan">
                    <li>
                        <i class="fa fa-suitcase fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Work Plan</strong></h3>
                        <p>
                            <br>Scope of Work - Fiscal Year 2017
                            <br>Federal Identification Number: 52 - 2340230
                            <br>
                            <br>
                        </p>
                    </li>
                    <li>
                      <a href="#">Download Work Plan</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">
                <ul class="list-unstyled text-center imgHeaderRight imgHeader2" id="grid-item-meetMinutes">
                    <li>
                        <i class="fa fa-file fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Meeting Minutes</strong></h3>
                        <p>
                            <br>Itemized summary of expenditures
                            <br>for Fiscal year 2017</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center" id="byLawsLink">

                <ul class="list-unstyled text-center imgHeaderLeft imgHeader2" id="grid-item-byLaws">
                    <li>
                        <i class="fa fa-gavel fa-fw fa-3x"></i>
                        <hr>
                    </li>
                    <li>
                        <h3><strong>Bylaws</strong></h3>
                        <p>
                            <br>Governing rules defining
                            <br>all internal affairs
                            <br>
                            <br><a href="#">Download ByLaws</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tiny-padding text-vertical-center">

            </div>
        </div>
    </div>
    <div class="records-textBox" id="meetMinutes">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="slide-toggle-open transition-all"></span></h4>
        <hr class="drk">
        <div class="textBox-body">
            <div class="minWrapper">
                <ul class="list-unstyled just-left tiny-padding">
                    {{> quarterly-mins}}
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>

</section>
