<section class="spotlight-wrapper">
    <div class="transitions-enabled grid " id="masonry-container-spotlight">
        <div class="grid-box-spotlight"> </div>
    </div>
    <div id="images">
        <div class="gridItem " id="grid-item-tech">
            <img src="./img/tech.jpg">
            <div class=" imgHeader-sm">
                <h2> Technology Programs </h2></div>
        </div>
        <div class="gridItem " id="grid-item-health">
            <img src="./img/health.jpg">
            <div class=" imgHeader-sm">
                <h2> Healthcare </h2></div>
        </div>
        <div class="gridItem " id="grid-item-gis">
            <img src="./img/gis.jpg">
            <div class=" imgHeader-sm">
                <h2> GIS </h2></div>
        </div>
        <div class="gridItem " id="grid-item-data">
            <img src="./img/data-tools.jpg">
            <div class=" imgHeader-sm">
                <h2> Data Tools </h2></div>
        </div>
        <div class="gridItem " id="grid-item-f3">
            <img src="./img/filler3.jpg">
            <div class=" imgHeader-sm">
                <h2> Filler 3 </h2></div>
        </div>
        <div class="gridItem " id="grid-item-broadband">
            <img src="./img/broadband.jpg">
            <div class=" imgHeader-sm">
                <h2> Broadband </h2></div>
        </div>
        <div class="gridItem " id="grid-item-ceds">
            <img src="./img/ceds.jpg">
            <div class=" imgHeader-sm" style="color: white;">
                <h2> CEDS </h2>
                <h4>Comprehensive Economic Development Strategy</h4>
            </div>
        </div>
        <div class="gridItem " id="grid-item-f1">
            <img src="./img/filler1.jpg">
            <div class=" imgHeader-sm">
                <h2> Filler 1 </h2></div>
        </div>
        <div class="gridItem " id="grid-item-f2">
            <img src="./img/filler2.jpg">
            <div class=" imgHeader-sm">
                <h2> Filler 2 </h2></div>
        </div>
    </div>
    <!--pop out for spotlight items-->
    <div class="textBox" id="broadband">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>
            <!--download link ./documents/Upper Eastern Shore Region 2012.pdf-->
            <a id="dwnld" class="uesr-broadband" href="./documents/Upper_Eastern_Shore_Region_2012.pdf" download="Upper Eastern Shore Region 2012">Download Broadband Deployment Plan for Upper Eastern Shore 2012</a>
            <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates earum deleniti praesentium dolorem dolor fugit quia provident. Pariatur dolorem consequuntur, consectetur assumenda maxime repellat illum ex ut eaque deleniti provident.</h4>
    </div>
    <div class="textBox" id="tech">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, omnis dignissimos aliquam nulla deleniti, fugiat harum laudantium fuga molestias non quibusdam vero minima similique neque nesciunt voluptatibus, ducimus nihil architecto.</h4>
    </div>
    <div class="textBox" id="health">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, asperiores. Quam laudantium, non? Sed delectus rem dolor adipisci voluptatibus voluptas, consequatur soluta placeat amet nostrum inventore, atque ad eligendi commodi!</h4>
    </div>
    <div class="textBox" id="gis">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea omnis voluptatibus quasi iste, odio exercitationem fugit veniam vel incidunt harum vero, quod qui. Facere vel accusantium ea eius? Officiis, nemo.</h4>
    </div>
    <div class="textBox" id="data">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat libero, repudiandae natus reprehenderit, odio voluptatibus magnam dignissimos doloremque, ipsa cumque deleniti facere placeat modi suscipit earum molestias non. Error, accusantium.</h4>
    </div>
    <div class="textBox" id="ceds">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>
            <!--download link ./documents/CEDS Full Document revised 3-9-16.pdf-->
            <a id="dwnld" class="uesr-ceds" href="./documents/CEDS_Full_Document_revised_3-9-16.pdf" download="CEDS Full Document revised 3-9-16">Download Mid Shore Comprehensive Economic Development Strategy</a>
            <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus officiis, eligendi repudiandae mollitia ipsum iure perspiciatis, iusto modi unde dignissimos ad error possimus ducimus, voluptatem qui hic rem sunt laborum.</h4>
    </div>
    <div class="textBox" id="f1">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo praesentium non officiis similique doloremque necessitatibus voluptatibus laboriosam, ea, a, dolore dolorem veniam pariatur beatae neque sit aliquid eaque repellendus odit.</h4>
    </div>
    <div class="textBox" id="f2">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero explicabo eligendi blanditiis eius aut voluptate culpa libero dolorum consectetur incidunt fugiat minima odio saepe, impedit corrupti eaque quia obcaecati magnam!</h4>
    </div>
    <div class="textBox" id="f3">
        <h2>Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam optio eius incidunt repellendus consequatur, aliquid officiis provident nostrum! Mollitia asperiores beatae at atque nam deserunt neque eligendi architecto cumque rerum.</h4>
    </div>
</section>
