<section class="spotlight-wrapper">
    <div class="grid" id="masonry-container">
        <div class="grid-box"> </div>
    </div>
    <div id="images">
        <div class="gridItem" id="grid-item"> <img src="./img/tech.jpg"><a href="#"> Tech </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/health.jpg"><a href="#"> Health </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/gis.jpg"><a href="#"> GIS </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/data-tools.jpg"><a href="#"> Data Tools </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/filler3.jpg"><a href="#"> Filler 3 </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/broadband.jpg"><a href="#"> Broadband </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/ceds.jpg"><a href="#"> CEDS </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/filler1.jpg"><a href="#"> Filler 1 </a></div>
        <div class="gridItem" id="grid-item"> <img src="./img/filler2.jpg"><a href="#"> Filler 2 </a></div>
    </div>
</section>
