<section class="spotlight-wrapper">
    <div class="grid " id="masonry-container-spotlight">
        <div class="grid-box-spotlight"> </div>
    </div>
    <div id="images">
        <div class="gridItem " id="grid-item-tech">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, perferendis quo! Distinctio ex a pariatur aliquid nostrum tempore, ea ad id eaque, porro alias aliquam rerum vel, perspiciatis praesentium numquam. </figcaption>
            <img src="./img/tech.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Technology Programs </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-health">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rerum, odit dolorem perspiciatis praesentium sunt, labore nesciunt, modi ipsam cupiditate, minus nisi architecto quae a ipsum assumenda perferendis sed aspernatur. </figcaption>
            <img src="./img/health.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Healthcare </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-gis">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis in esse quasi culpa corporis possimus cumque officia nihil animi dignissimos dolorum velit vel, ad pariatur magni? Ducimus, reiciendis, eaque? </figcaption>
            <img src="./img/gis.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> GIS </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-data">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio magni reiciendis culpa nesciunt blanditiis quos fugiat laboriosam, sed quo omnis, officiis est nobis delectus neque molestiae commodi veritatis, maxime? </figcaption>
            <img src="./img/data-tools.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Data Tools </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-f3">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nobis laudantium dicta qui beatae quas soluta quibusdam quae, eum ipsa, modi provident incidunt nihil nulla sint velit culpa dolor id!</figcaption>
            <img src="./img/filler3.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Filler 3 </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-broadband">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio officiis dignissimos expedita voluptates omnis deleniti alias, adipisci ducimus aperiam autem recusandae molestiae aliquam, porro, quo ad pariatur unde quos. Quas. </figcaption>
            <img src="./img/broadband.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Broadband </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-ceds">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit maiores, dicta, ducimus impedit veritatis soluta tempora laborum sapiente consequatur ipsam excepturi. Perferendis labore, dolores libero laudantium, odio iste facere quibusdam. </figcaption>
            <img src="./img/ceds.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="color: white;"><strong style="font-size: 40px"> CEDS </strong><br>Comprehensive Economic Development Strategy</figcaption>
        </div>
        <div class="gridItem " id="grid-item-f1">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae veniam error earum architecto, alias, maxime minus. Nulla quisquam ipsa, similique quasi in delectus eum sit, adipisci aliquid eveniet error veritatis. </figcaption>
            <img src="./img/filler1.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Filler 1 </strong></figcaption>
        </div>
        <div class="gridItem " id="grid-item-f2">
            <figcaption class=" hidden" id="textBox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem libero quos recusandae enim reiciendis, dolorum ut perferendis asperiores delectus assumenda ratione adipisci, fugiat porro culpa, cupiditate molestiae explicabo dicta ipsa. </figcaption>
            <img src="./img/filler2.jpg">
            <figcaption class=" imgHeader-sm" id="textBox" style="font-size: 40px; color: white;"><strong> Filler 2 </strong></figcaption>
        </div>
    </div>
    <div class="hidden" id="textBox">
                
    </div>
</section>
