<section class="spotlight-wrapper">
    <div class="transitions-enabled grid" id="masonry-container-spotlight">
        <div class="grid-box-spotlight"> </div>
    </div>
    <div id="images">
        <div class="gridItem" id="grid-item-tech">
            <img src="./img/tech2.jpg">
            <div class="imgHeader-sm-lt">
                <a href="#"><h2> Technology Programs </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-health">
            <img src="./img/health2.jpg">
            <div class="imgHeader-sm-lt">
                <a href="#"><h2> Healthcare </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-gis">
            <img src="./img/gis2.jpg">
            <div class="imgHeader-sm-drk">
                <a href="#"><h2> GIS </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-data">
            <img src="./img/data2.jpeg">
            <div class="imgHeader-sm-lt">
                <a href="#"><h2> Data Tools </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-ceds">
            <img src="./img/ceds2.jpg">
            <div class="imgHeader-sm-drk">
                <a href="#"><h2 class="padding-bottom"> CEDS </h2>
                <h4>Comprehensive Economic Development Strategy</h4></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-bizDev">
            <img src="./img/biz.jpg">
            <div class="imgHeader-sm-drk">
                <a href="#"><h2> Business Development </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-broadband">
            <img src="./img/broadband2.jpg">
            <div class="imgHeader-sm-lt">
                <a href="#"><h2> Broadband </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-must">
            <img src="./img/transportation.jpg">
            <div class="imgHeader-sm-drk">
                <a href="#"><h2> Transportation </h2></a>
            </div>
        </div>
        <div class="gridItem" id="grid-item-funding">
            <img src="./img/funding.jpg">
            <div class="imgHeader-sm-drk">
                <a href="#"><h2> Funding </h2></a>
            </div>
        </div>
    </div>
    <!--pop out for spotlight items-->
    <div class="textBox" id="broadband">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Continue to partner with the Maryland Broadband Cooperative, Inc.</h4>
            <a id="dwnld" class="uesr-broadband" target="_blank" href="./documents/reports/Upper_Eastern_Shore_Region_2012.pdf" download="Upper Eastern Shore Region 2012">Download Broadband Deployment Plan for Upper Eastern Shore 2012</a>
            <hr class="drk">
            <ul class="list-unstyled font-blocky-drk just-left tiny-padding" align="left">
                <li>Mission:
                    <br>
                </li>
                <li>To drive economic development through universal, open access to broadband services via a fiber optic network that serves rural Maryland by building an advanced, world-class broadband network across the rural communities of Eastern, Southern and Western Maryland supported by its members who provide "Last Mile" services.</li>
                <li>
                    <br>The regional councils are the founding members and each have a seat on the Board of Directors.</li>
                <li>
                    <br>President and C.E.O.: Patrick Mitchell</li>
                <li>Phone Number: <a href="tel:4103416322">(410) 341-6322</a></li>
                <li>Website: <a target="_blank" href="http://www.mdbc.us">www.mdbc.us</a></li>
                <li class="img-150x300"><img src="./img/logos/mdbc.gif" alt=""></li>
            </ul>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="textBox" id="tech">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                <h4>Support the establishment of a Mid-Shore Business and Technology Incubator</h4>
                <hr class="drk">
                <ul class="list-unstyled font-flocky-drk just-left tiny-padding" align="left">
                    <li>The Mid-Shore Business and Technology Incubator was a recommendation from the Economic Adjustment Strategy completed by the Chesapeake Bay Region Technical Center of Excellence with primary sponsorship from DBED and EDA.
                        <br>
                    </li>
                    <li>
                        <br> Dorchester County developed the Eastern Shore Innovation Center. The incubator is located in the Dorchester Regional Technology Park.</li>
                    <br>
                    <br>
                    <br>
                </ul>
                <br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                <h4>Regional Technology School</h4>
                <hr class="drk">
                <ul class="list-unstyled font-flocky-drk just-left tiny-padding" align="left">
                    <li>The Mid-Shore Regional Council is assisting in the establishment of a study to determine the feasibility of a regional technology school or utilizing Chesapeake College in offering regional technology programs.</li>
                    <li>
                        <br>The Council is working with Chesapeake College and the Upper Shore Regional Council to facilitate meetings between public school superintendents (Caroline, Dorchester, Kent, Queen Anne's and Talbot Counties).</li>
                    <br>
                    <br>
                    <br>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="textBox" id="health">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Health Cluster Economic Impact Work Group</h4>
            <hr class="drk">
            <ul class="list-unstyled font-flocky-drk just-left tiny-padding" align="left">
                <li>The Mid-Shore Regional Council is establishin a Health Cluster Economic Impact Work Group to increase communication among the health industry and public and private sectors to aid the industry's stability and growth within the region.</li>
            </ul>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="textBox" id="gis">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Support the Eastern Shore Regional GIS Cooperative (ESRGC)</h4>
            <hr class="drk">
            <ul class="list-unstyled font-blocky-drk just-left tiny-padding" align="left">
                <li>ESRGC is an organization that seeks to provide access to geographic information system (GIS) technology, data, technical support, and training to the local governments of Maryland's Eastern Shore.</li>
                <li>
                    <br>Housed at Salisbury University, the ESRGC is a join effort between the Mid-Shore Regional Council, Tri-County Council for the Lower Eastern Shore, and Salisbury University.</li>
                <li>
                    <br>Projects in the Mid-Shore region recieve a 50% reduction in charges because of the financial support of the Mid-Shore Regional Council.</li>
                <li>
                    <br>In the last two years the ESRGC developed a Professional Science Master's (PSM) Degree program that trains the next generation of geographic information administrators.</li>
                <li>
                    <br>Director: Mike Scott</li>
                <li>Phone number: <a href="tel:4106775390">(410) 677-5390</a></li>
                <li>E-mail address: <a href="mailto:msscott@salisbury.edu">msscott@salisbury.edu</a></li>
                <li>Website: <a target="_blank" href="http://www.esrgc.org">www.esrgc.org</a></li>
                <li class="img-150x300"><img src="./img/logos/esrgc_logo.jpg" alt=""></li>
            </ul>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="textBox" id="data">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>GeoDASH Initiative</h4>
            <hr class="drk">
            <ul class="list-unstyled font-blocky-drk just-left tiny-padding" align="left">
                <li>Goal:</li>
                <li>
                    <br>To provide technical assistance to community leaders in matters involving economic development and transportation plannin. Develop state-of-the-art visualization tools that merge the traditional business intelligence, geographic information, and dynamic modeling to support regional economic development decision making.</li>
                <li>
                    <br>Partners:
                    <ul class="list-unstyled sowHighlight-img">
                        <li><img src="./img/logos/msrc.jpg">
                            <p>Mid-Shore Regional Council</p>
                        </li>
                        <li><img src="./img/logos/tcc_logo.JPG">
                            <p>Tri-County Council for the Lower Eastern Shore</p>
                        </li>
                        <li><img src="./img/logos/esrgc_logo.jpg">
                            <p>ESRGC (Eastern Shore Regional GIS Cooperative)</p>
                        </li>
                        <li><img src="./img/logos/beaconlogo2.png">
                            <p>BEACON (Business, Economic, and Community Outreach Network at Salisbury University)</p>
                        </li>
                        <li><img src="./img/logos/edaseal2.png">
                            <p>U.S. Department of Commerce Economic Development Administration (EDA)</p>
                        </li>
                        <li><img src="./img/logos/dbed2.png">
                            <p>Maryland Department of Business and Economic Development (DBED)</p>
                        </li>
                    </ul>
                </li>
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
    <div class="textBox" id="ceds">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Mid-Shore Comprehensive Economic Development Strategy (CEDS)</h4>
            <!--download link ./documents/CEDS Full Document revised 3-9-16.pdf-->
            <a id="dwnld" class="uesr-ceds" href="./documents/reports/CEDS_Full_Document_revised_3-9-16.pdf" download="CEDS Full Document revised 3-9-16" target="_blank">Download CEDS</a>
            <hr class="drk">
            <ul class="list-unstyled font-blocky-drk just-left tiny-padding" align="left">
                <li>Economic Development Districts put together Comprehensive Economic Development Strategies (CEDS) for their federally recognized and approved economically distressed regions. Federal statute requires that a CEDS be in place before a region can recieve U.S. Department of Commerce Economic Development Administration (EDA) public works and infrastructure funds. </li>
                <li>
                    <br>The CEDS process is designed to bring together the public and private sectors in the creation of an economic development roadmap to diversify and strengthen the regional economy.</li>
                <li>
                    <br>Federal statute requires that the CEDS document is updated annually.</li>
            </ul>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="textBox" id="must">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Governance of Maryland Upper Shore Transit (MUST)</h4>
            <hr class="drk">
            <ul class="list-unstyled just-left tiny-padding font-blocky-drk" align="left">
                <li>
                    MUST is a regional five county coordinated transit system that services the citizens of Caroline, Dorchester, Kent, Queen Anne's, and Talbot Counties.
                    <br>
                </li>
                <li>Transportation providers:
                    <ul class="list-group sowHighlight">
                        <li>Delmarva Community Transit</li>
                        <li>Queen Anne's County - County Ride</li>
                    </ul>
                </li>
                <li>Key elements in the MUST coordinating model and strategy:
                    <ul class="list-group sowHighlight">
                        <li>Periodic meetings of the transportation providers, MTA, MSRC, and the outreach and media providers</li>
                        <li>MUST meetings are coordinated with the quarterly Community Transportation Advisory Committee (CTAC) meetings</li>
                        <li>Bilingual (English and Spanish) brochures and schedules</li>
                        <li>Coordinated single policy on inclement weather procedures, fares, and transfers</li>
                        <li>Bilingual toll free information line for customer needs</li>
                        <li>Provides outreach to present and promote the availability of public and other transit services</li>
                        <li>Overseas MUST weabsite and all printed materials</li>
                        <li>Participates on the Maryland Coordinating Committee for Human Services Transportation</li>
                        <li>Periodically facilitates a customer survey of the transportation system</li>
                        <li>Assists with the Upper Eastern Shore Coordinated Public Transit-Human Services Transportation Plan</li>
                        <li>Regional review authority for JARC/New Freedom, 5310, and Senior Rides programs for the six counties of the Upper Eastern Shore</li>
                    </ul>
                </li>
                <li>MUST Administrator: Mid-Shore Regional Council</li>
                <li>Phone number: <a href="tel:4107704798">(410) 770-4798</a></li>
                <li>E-mail address: <a href="mailto:terry@midsore.org">terry@midshore.org</a></li>
                <li>Website: <a target="_blank" href="http://www.mustbus.org">www.mustbus.org</a></li>
                <li>MUST toll free number: <a href="tel:8663306878">866-330-6878</a>
                </li>
                <li class="img-150x300"><img src="./img/logos/must.jpg" alt=""></li>
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
    <div class="textBox" id="funding">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <h4>Assist with Federal Funding</h4>
            <hr class="drk">
            <ul class="list-unstyled tiny-padding font-blocky-drk just-left" align="left">
                <li>As a federally recognized U.S. Department of Commerce Economic Development Administration (EDA) Economic Development District (EDD) the Mid-Shore Regional Council advocates and assists with EDA grant processes.
                    <br>
                </li>
                <li>
                    <table id="fedFunds">
                        <col width="20%">
                        <col width="80%">
                        <tr>
                            <th><u>EDA funding </u></th>
                            <th><u>Projects </u></th>
                        </tr>
                        <tr>
                            <td>$2.1 million</td>
                            <td>Caroline Technology Park located in Ridgely</td>
                        </tr>
                        <tr>
                            <td>$3.2 million</td>
                            <td>Maryland Broadband Cooperative, Inc.
                                <br>(in association with the Tri-County Council for the Lower Eastern Shore to assist in fiber optic builds on the Eastern Shore)</td>
                        </tr>
                        <tr>
                            <td>$3.0 million</td>
                            <td>Dorchester County Business and Technology Park</td>
                        </tr>
                        <tr>
                            <td>$607,750</td>
                            <td>Project Green Box: An Investment in Advancing and Enhancing the Green Economy in Dorchester County</td>
                        </tr>
                        <tr>
                            <td>$1.65 million</td>
                            <td>Regional Medical Facility
                                <br>(University of Maryland Medical System/ Shore Health System)</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <br> Secured: $10,557,750
                </li>
                <li class="img-150x300"><img src="./img/logos/edaseal2.png" alt=""></li>
                <br>
                <br>
                <br>
            </ul>
        </div>
    </div>
    <div class="textBox" id="bizDev">
        <h4 class="textBox-toggle">Close&nbsp;&nbsp;&nbsp;&nbsp; <span class="slide-toggle-open transition-all"></span></h4>
        <div class="textBox-body">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                <h4>Support the Eastern Shore Entrepreneurship Center (ESEC)</h4>
                <hr class="drk">
                <ul class="list-unstyled tiny-padding font-blocky-drk just-left" align="left">
                    <li>Eastern Shore Entrepreneurship Center was created by the Mid-Shore Regional Council following the recommendation from the Economic Adjustment Strategy.</li>
                    <li>
                        <br>Incorporated as a 501c3 non-profit in 2004</li>
                    <li>
                        <br>Programs:
                        <ul class="list-group sowHighlight">
                            <li>Revolving Loan Funds</li>
                            <li><a href="https://www.hotDesks.org">hotDesks.org</a> co-working spaces</li>
                            <li><i>ShoreVenture</i> Entrepreneurship Training</li>
                            <li>Business Plan Competitions</li>
                            <li>Delmarva Technology Transfer Initiative (DT2i)</li>
                            <li>Revolution Labs</li>
                        </ul>
                    </li>
                    <li>Executive Director: Mike Thielke</li>
                    <li>Phone number <a href="tel:4107709330">(410) 770-9330</a></li>
                    <li>E-mail address: <a href="mailto:mike@ventureahead.org">mike@ventureahead.org</a></li>
                    <li>Website: <a target="_blank" href="http://www.ventureahead.org">www.ventureahead.org</a></li>
                    <li class="img-150x300"><img src="./img/logos/ESEC2.jpg" alt=""></li>
                    <br>
                    <br>
                    <br>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                <h4>Continue to partner with Shore Gourmet</h4>
                <hr class="drk">
                <ul class="list-unstyled tiny-padding font-blocky-drk just-left" align="left">
                    <li>Shore Gourmet is a business development initiative of the Mid-Shore Regional Council to promote and sustain the food and agricultural businesses located on Maryland's Eastern Shore and Delaware.</li>
                    <li>
                        <br>Shore Gourmet offered distribution and consulting services to the local agricultural community to market their value-added and gourmet food products.</li>
                    <li>
                        <br>Incorporated as a 501c6 non-profit in 2006</li>
                    <li>
                        <br>Contact the Mid-Shore Regional Council</li>
                    <li>Phone number: <a href="tel:4107704798">(410) 770-4798</a></li>
                    <li class="img-150x300"><img src="./img/logos/msrc.jpg" alt=""></li>
                    <br>
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</section>
