//import other css
///////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "home.less";
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//variables
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
@angle-color: #515151;
@from-color: #a3c2c2;
@to-color: #7eaece;
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// background transition mixin
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.shaded_bg() {
    opacity: 1;
    background: #7eaece;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, @from-color, @to-color);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, @from-color, @to-color);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, @from-color, @to-color);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, @from-color, @to-color);
    /* Standard syntax */
    border: inset 5px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// full screen wrappers and backgrounds
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.all_wrapper {
    height: 100%;
    width: 100%;
}

.about_bg {
    //position: fixed;
    background: url("@{images}/about.jpg") no-repeat center center scroll;
    background-attachment: fixed;
    .fill;
}

.committees_bg {
	position: fixed;
    background: url("@{images}/committees.jpg") no-repeat center center fixed;
    background-attachment: fixed;
    .fill;
}

.partners_bg {
    background: url("@{images}/partners.jpg") no-repeat center center scroll;
    .fill;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// skewed slidy divs     by Carl Flint
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

.angle_wrapper {
    position: relative;
}

.skew {
    transform: skewY(130deg);
    -webkit-transform: skewY(130deg);
    -moz-transform: skewY(130deg);
    -ms-transform: skewY(130deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.angle {
    position: fixed;
    right: 0;
    background-color: @angle-color;
    overflow: hidden;
    height: 40%;
    width: 75%;
}

.text-angle-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    bottom: 27px;
}

.angle-text {
    .font-blocky-lt;
    position: fixed;
    font-size: 60px;
}

.angle1 p {
    .angle;
    .skew;
    overflow: hidden;
    width: 1320px;
    margin-right: -70px;
    opacity: 0.25;
    bottom: -70px;
    z-index: 1;
}

.angle2 p {
    .angle;
    .skew;
    overflow: hidden;
    width: 1320px;
    opacity: 0.5;
    margin-right: -200px;
    bottom: -70px;
    z-index: 2;
}

.angle3 p {
    .angle;
    .skew;
    overflow: hidden;
    width: 1320px;
    opacity: 0.75;
    margin-right: -350px;
    bottom: -70px;
    z-index: 3;
}

.angle4 {
    .angle;
    .skew;
    overflow: hidden;
    width: 1320px;
    opacity: 1;
    height: 50%;
    margin-right: -550px;
    bottom: -100px;
    z-index: 0;
}

.angle1 p:not(.ac_collapse) {
    .angle;
    .skew;
    width: 100%;
    height: 95%;
    opacity: 0.25;
    margin-right: 0;
    bottom: -100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    z-index: 100 !important;
}

.angle2 p:not(.ac_collapse) {
    .angle;
    .skew;
    width: 100%;
    height: 95%;
    opacity: 0.5;
    margin-right: 0;
    bottom: -100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    z-index: 100 !important;
}

.angle3 p:not(.ac_collapse) {
    .angle;
    .skew;
    width: 100%;
    height: 95%;
    opacity: 0.75;
    margin-right: 0;
    bottom: -100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    z-index: 100 !important;
}

.float-left {
    position: absolute;
    left: 0;
    width: 55%;
    height: 80%;
}

.slide-toggle-close,
.slide-toggle-open {
    .no-gutters;
    font-family: 'FontAwesome';
    font-size: 35px;
    color: @logo-color;
}

.slide-toggle-close::after {
    content: "\f067";
}

.slide-toggle-open::after {
    content: "\f068";
}

#about-landing {
    .font-blocky-lt;
    top: 200px;
    left: 80px;
    font-size: 22px;
    overflow: hidden;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Members pop out
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
#members-div figcaption.ac_collapse {
    display: none;
    overflow: hidden;
}

#members-div figcaption:not(.ac_collapse) {
    display: block;
    position: relative;
    .shaded_bg;
    top: 250px;
    left: 20px;
    z-index: 1000;
}

#members-div figcaption {
    padding: 10px 10px;
    font-size: 16px;
    .font-blocky-lt;
}

#members-div {
    z-index: 1001;
}

////////////////////////////////////////////////////////////
////////////////////////////////////////////
// secondary members popouts
////////////////////////////////////////////
////////////////////////////////////////////////////////////
#members2-div figcaption.ac_collapse {
    display: none;
    overflow: hidden;
}

#members2-div figcaption:not(.ac_collapse) {
    display: block;
    position: relative;
    .shaded_bg;
    top: 250px;
    //left: 20px;
    z-index: 1000;
}

#members2-div figcaption {
    padding: 10px 10px;
    font-size: 16px;
    .font-blocky-lt;
}

#members2-div {
    z-index: 1001;
}


#votingMem.hidden {
    display: none;
}

#votingMem:not(.hidden) {
    position: relative;
    .shaded_bg;
    //left: 20px;
    top: 250px;
    padding: 10px 10px;
    font-size: 16px;
    .font-blocky-lt;
    z-index: 2000;
}

#nonVoting.hidden {
    display: none;
}

#nonVoting:not(.hidden) {
    position: relative;
    .shaded_bg;
    //left: 20px;
    top: 250px;
    padding: 10px 10px;
    font-size: 16px;
    .font-blocky-lt;
    z-index: 2000;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Spotlight pop out image grid
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.grid {
    display: block;
    position: relative;
    margin-left: 0 auto;
    //used background color for dimensions/overlap settings
    //background: #7eaece;
    left: 30px;
    max-width: 100%;
    max-height: 950px;
    width: 100%;
    z-index: 1000;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.transitions-enabled {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.grid #grid-item img {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

#images {
    width: 100%;
    //overflow: hidden;
}

.grid-box-spotlight {
    //for a three column grid 33.33%
    //width: 33.33%;
    //for a four column grid 25%
    width: 25%;
}

.gridItem {
    // set width of items within grid columns
    //width: 33.33%;
    width: 25%;
    float: left;
    //adjust for tender overlap of images
    //margin: 0 -60px -60px;
}

.grid-item--gigante {
    // set the size of expanded item
    //width: 66.66%;
    width: 50%;
}

.gridItem img {
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and( max-width: 40em) {
    .gridItem {
        width: 49.2%;
    }
}

@media only screen and (max-width: 20em) {
    #images {
        width: 100%;
        margin-left: 0;
    }
    .gridItem {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.spotlight-wrapper {
    display: block;
    flex-wrap: wrap;
    position: absolute;
    float: left;
    text-align: center;
    width: 85%;
    top: 220px;
    left: 35px;
    right: 0;
    bottom: 0;
}

#grid-item a {
    .font-blocky-lt;
    font-size: 35px;
    z-index: 1500;
    position: relative;
    bottom: 60px;
    height: 40%;
    width: 100%;
    padding-bottom: -60px;
}

#textBox.hidden {
    display: none;
}

#textBox:not(.hidden) {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .15);
    .font-blocky-drk;
    font-size: 16px;
    width: 100%;
    height: 50%;
    padding-bottom: -60px;
    bottom: 60px;
    z-index: 2000;
}

#textBox.imgHeader {
	font-size: 15px; 
	color: white;
}

#textBox.imgHeader strong {
	font-size: 40px; 
	color: white;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Records pop out
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
#records.ac_collapse {
    display: none;
    overflow: hidden;
}

#records:not(.ac_collapse) {
    display: block;
    position: relative;
    opacity: 1;
    z-index: auto;
}

.records-wrapper {
    display: block;
    flex-wrap: wrap;
    position: absolute;
    float: left;
    text-align: center;
    width: 85%;
    top: 210px;
    left: 35px;
    right: 0;
    bottom: 0;
}

#recordsImages {
    width: 100%;
    overflow: hidden;
}

.grid-box-records {
    width: 50%;
}

.records-gridItem {
    width: 50%;
    float: left;
    //adjust for tender overlap of images
    margin: 0 -60px -60px;
}

.records-gridItem figcaption {}

.record-item--gigante {
    width: 100%;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// elements for committees page
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
#leftDiv {
	display: block;
	position: fixed;
	background: @logo-color;
	opacity: 0.15;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	z-index: 100;
}

.left_Div {
	display: block;
	position: relative;
	.font-blocky-lt;
	top: 250px;
	width: 50%;
	left: 25%;
	font-size: 45px;
	z-index: 200;
}

.left_Div ul li img {
	display: block;
	left: 100px;
	width: 200px;
	//height: 100px;
	text-align: center;
}






///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// elements for partners page
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.partners_bgc {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.partner-skew1 {
    .partners_bgc;
    transform: skew(0deg, -30deg);
    -webkit-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    -moz-transform: skew(0deg, -30deg);
}

.partner-skew2 {
    .partners_bgc;
    transform: skew(0deg, 30deg);
    -webkit-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    -moz-transform: skew(0deg, 30deg);
}

.footer_wrapper_all {
    display: block;
    position: relative;
    width: 100%;
}

.footer_wrapper-about {
    .footer_wrapper_all;
    position: absolute;
    bottom: 0;
    padding-bottom: -60px;
}
