@import "about.less";
// Variables
@logo-color: #e6e6e6;
@hover-color: #2e4d6b;
@nav-color: rgba(5, 5, 5, 0.6);
@footer-color: #071e35;
@images: "../img";
//Mixins
.font-helvetica {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-blocky-drk {
    .font-helvetica;
    color: #333333;
}

.font-blocky-lt {
    .font-helvetica;
    color: @logo-color;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// the CSS nuts and bolts
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
* {
    padding: 0;
    margin: 0;
}

html,
body,
{
    width: 100%;
    height: 100%;
    z-index: 0;
}

body,
footer {
    background-color: #fff;
    color: @logo-color;
    .font-blocky-drk;
}

body {
    font-size: 18px;
    padding-bottom: 95px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    //line-height: 1.45;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

.row {
    position: relative;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
//use to make nav not float over carousel

/*
body {
    padding-top: 60px;
}
*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
a {
    color: @logo-color;
    text-decoration: none;
}

a:hover {
    color: @hover-color;
    //text-decoration: none;
    //.shaded_bg-drk;
}

p {
    color: @logo-color;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Custom Button Styles */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

// floating left/right button for carousel
.btn-center {
    position: relative;
    top: 50%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Navbar style */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar {
    background-color: @nav-color;
    color: @logo-color;
}

.navbar-header a {
    height: 57px;
}

.navbar-brand {
    padding: 0 0;
    padding-top: 10px;
}

.nav-links {
    font-family: 'Padauk', sans-serif;
    color: @logo-color;
}

.nav {
    overflow-y: hidden !important;
}

ul#myTopnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#myTopnav li {
    float: left;
}

ul#myTopnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul#myTopnav li a:hover {
    background-color: #555;
}

ul#myTopnav li.icon {
    display: none;
}

@media screen and (max-width:830px) {
    ul#myTopnav li:not(: first-child) {
        display: none;
        float: right;
    }
    ul#myTopnav li.icon {
        position: fixed;
        float: left;
        display: inline-block;
        right: 5px;
        top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:830px) {
    ul#myTopnav.responsive {
        position: relative;
    }
    ul#myTopnav.responsive li.icon {
        position: fixed;
        right: 10px;
        top: 20px;
    }
    ul#myTopnav.responsive li {
        float: none;
        display: inline;
    }
    ul#myTopnav.responsive li a {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width:767px) {
    ul#myTopnav.responsive {
        position: relative;
    }
    ul#myTopnav.responsive li.icon {
        position: fixed;
        right: 10px;
        top: 25px;
    }
    ul#myTopnav.responsive li {
        float: none;
        display: inline;
    }
    ul#myTopnav.responsive li a {
        display: block;
        text-align: left;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Bootstrap carousel*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control .left > i,
.carousel-control .right > i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control .right > i {
    left: auto;
    right: 20px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Carousel wrapper*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Custom Horizontal Rule */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
hr.small {
    left: 0;
    max-width: 155px;
    line-height: 10%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Fullpage background images*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.fill {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* carousel slides */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.slide-1 {
    background: url("@{images}/bg.jpg") no-repeat center center scroll;
    .fill;
}

.slide-2 {
    background: url("@{images}/newyork.jpg") no-repeat center center scroll;
    .fill;
}

.slide-3 {
    background: url("@{images}/paris.jpg") no-repeat center center scroll;
    .fill;
}

.slide-4 {
    background: url("@{images}/sanfran.jpg") no-repeat center center scroll;
    .fill;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Mid shore regional council logo style */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.logo-set-cursive {
    font-family: 'Alex Brush', cursive;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: @logo-color;
    float: left;
}

.logo-set-std {
    font-family: 'Padauk', sans-serif;
    color: @logo-color;
    float: left;
}

#logo_lrg {
    display: inline-block;
    position: absolute;
    margin-top: 0;
    margin-bottom: -20px;
    //font-size: 36px;
    line-height: 40%;
    .logo-set-cursive;
}

#logo_med {
    display: inline-block;
    position: absolute;
    margin-left: 158px;
    margin-top: 0;
    //font-size: 27px;
    //padding-top: 4px;
    line-height: 30%;
    .logo-set-cursive;
}

#logo_sm {
    display: inline-block;
    position: absolute;
    //font-size: 13px;
    line-height: 60%;
    .logo-set-std;
}

@media screen and (max-width:570px) {
    #logo_med {
        margin-left: 137px;
    }
}

@media screen and (max-width:485px) {
    #logo_sm {
        padding-top: 20px;
    }
    #logo_med {
        line-height: 90%;
        padding-bottom: 5px;
    }
    #logo_lrg {
        font-size: 33px;
        margin-bottom: 0;
        line-height: 100%;
    }
    .navbar-header {
        height: 87px;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Home page statistics section */

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.impact {
    .font-blocky-drk;
    //background-color: rgba(214, 214, 214, 0.5);
    padding: 25px 0;
}

.impact-header {
    .impact;
    //font-size: 40px;
}

.impact-body {
    .impact;
    color: #eeeeee;
    //font-size: 27px;
}

.impact-bg {
    background-color: rgba(214, 214, 214, 0.5);
}

@media screen and (max-width: 1200px) {
    div.effect-shade h1 {
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    div.effect-shade h1 {
        padding-top: 42px;
    }
}

/////////////////////////////////////////
/////////////////////////
// transition effect for index.html economic impact
/////////////////////////
/////////////////////////////////////////
div.effect-shade h1::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

div.effect-shade h4 {
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -95%, 0);
    transform: translate3d(0, -95%, 0);
}

div.effect-shade h4::before,
div.effect-shade p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

div.effect-shade p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

div.effect-shade:hover h4 {
    color: #fff;
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, -80px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, -80px, 0);
}

div.effect-shade:hover h1::before,
div.effect-shade:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Home page aside to About Committees and Partners*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// responsive figure grid settings
.figure-nest {
    display: block;
    position: relative;
    z-index: 0;
}

.aside-float {
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.6);
    .font-blocky-lt;
    height: 50%;
    text-align: center;
}

.aside-float a {
    position: relative;
    top: 50%;
}

figure {
    position: relative;
    bottom: 0;
    padding: 0px;
    z-index: 0;
}

@media (min-width: 36em) {
    figure {
        display: block;
        float: left;
        width: 33.33333333%;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* All page's Footer section*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer_wrapper_home {
    .footer_wrapper_all;
    height: 120px;
}

.footer_buffer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: @footer-color;
    padding-top: 73px;
}

.footer {
    display: block;
    position: relative;
    background-color: @footer-color;
    max-height: 375px;
    width: 100%;
    padding: 20px 0;
    line-height: 80%;
    z-index: 0;
    .transition-all;
}

.footer_button_div {
    background-color: transparent;
    opacity: 1;
}

#footer_button {
    margin: 0 auto;
    text-align: center;
    //font-size: 20px;
    position: fixed;
    left: 48.5%;
    bottom: 75px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -ms-transition: All 1s ease;
    -o-transition: All 1s ease;
    transition: All 1s ease;
}


/* Extra small devices */

@media screen and (max-width:430px) {
    #cpyRight {
        font-size: 6px;
    }
    .fa-3x {
        font-size: 15px;
    }
}

@media screen and (min-width:431px) and (max-width:544px) {
    .fa-3x {
        font-size: 20px;
    }
    #cpyRight {
        font-size: 8px;
    }
    #footContact {
        padding: 0 0;
        right: 4px;
    }
}


/* Small devices */

@media screen and (min-width:545px) and (max-width:768px) {
    .fa-3x {
        font-size: 30px;
    }
}


/* Large devices */

@media screen and (min-width:800px) {
    .fa-3x {
        font-size: 42px;
    }
}

#footer_button.is-open {
    color: #515151;
}

#footer_higher {
    width: 100%;
    background: @footer-color;
    padding: 15px 0;
}

#footer_higher #footer_content {
    width: 100%;
    margin: 0 auto;
    height: 310px;
    overflow-y: auto;
    z-index: 80;
}

#footer_content {
    z-index: 10;
}

.footer-bottom {
    background-color: @footer-color;
    font-size: 14px;
    bottom: 0;
    padding-top: 25px;
    opacity: 0.65;
    width: 100%;
    z-index: 900;
}

@media screen and (max-width: 769px) {
    .footer_buffer {
        padding-top: 60px;
    }
}

@media screen and (max-width: 659px) {
    .footer_buffer {
        padding-top: 90px;
    }
    #footer_button {
        bottom: 92px;
    }
}

@media screen and (max-width: 544px) {
    .footer_buffer {
        padding-top: 73px;
    }
    #footer_button {
        bottom: 75px;
    }
}

@media screen and (max-width: 432px) {
    .footer-bottom {
        padding-top: 10px;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* all pages transitions setting*/

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.transition-all {
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -ms-transition: All 1s ease;
    -o-transition: All 1s ease;
    transition: All 1s ease;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// go to top button
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
#to-top {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 5px;
    text-align: center;
    z-index: 1000;
}

.clear {
    clear: both;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// testing area beware of the crazy code
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
.rotateRight90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.rotateLeft90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// fancy css3 transition effects on hover
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
figure.effect-move {
    background: #4a3753;
}

figure.effect-move img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-move:hover img {
    opacity: 0.5;
}

figure.effect-move .floater::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-move h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    width: 100%;
    text-align: center;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

figure.effect-move h3 i {
    font-style: normal;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

figure.effect-move .floater::before,
figure.effect-move h3 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-move:hover .floater::before,
figure.effect-move:hover h3,
figure.effect-move:hover h3 i {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
