//import other css
///////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "home.less";
@import "about.less";
////////////////////////////////////////////////////////////
////////////////////////////////////////////
// Media queries
////////////////////////////////////////////
//////////////////////////////////////////////////////
@media screen and (min-width:1921px) {
    #about-landing {
        font-size: 1.22em !important;
    }
}

@media screen and (max-width:1730px) {
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        right: -40.45em; // -720 px
    }
    .toggle-text.ac_collapse {
        left: 19%;
    }
}

@media screen and (max-width:1680px) {
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        right: -33.5em; // -600 px
    }
    .toggle-text.ac_collapse {
        left: 20%;
    }
}

@media screen and (max-width:1460px) {
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        right: -27.4em; // -500 px
    }
    .toggle-text.ac_collapse {
        left: 18%;
    }
    #footer_button {
        left: 48.5%;
    }
    // #gilligan figure {
    //     img {
    //         width: 55%;
    //     }
    // }
}

@media screen and (max-width:1260px) {
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        .skew2-matrix;
        right: 0px;
    }
    .toggle1 {
        bottom: -27.778em;
    }
    .toggle2 {
        bottom: -33.336em;
    }
    .toggle3 {
        bottom: -38.886em;
    }
    .toggle4 {
        bottom: -60em;
    }
    .toggle-text.ac_collapse {
        .antiSkew2-matrix;
        left: 55%;
    }
    #about-landing {
        .font-blocky-lt;
        width: 90%;
        top: 5.625em;
        max-height: 25vh;
        left: 1.5625em;
    }
    #spotlight-container {
        width: 65%;
    }
    .gridItem img {
        max-height: 200px;
        min-height: 200px;
    }
}

@media screen and (max-height:850px) and (min-width:1260px) {
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -.336em;
    }
    .toggle2 {
        bottom: -6em;
    }
    .toggle3 {
        bottom: -12em;
    }
    .left_Div {
        top: 17%;
    }
    #committeeSpacer {
        height: 5em;
    }
}

@media screen and (max-height:820px) {
    .fa-5x {
        font-size: 4em;
    }
}

@media screen and (max-height:760px) {
    .fa-5x {
        font-size: 3em;
    }
}



@media screen and (max-width:1260px) and (max-height:920px) {
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle3 {
        bottom: -33.886em;
    }
    .toggle2 {
        bottom: -29.336em;
    }
    .toggle1 {
        bottom: -24.778em;
    }
}

@media screen and (max-width:1260px) and (max-height:765px) {
    #about-landing {
        top: 4.6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.2em;
        }
    }
    .toggle1 {
        bottom: -22.778em;
    }
    .toggle2 {
        bottom: -26.336em;
    }
    .toggle3 {
        bottom: -29.886em;
    }
}

@media screen and (max-width:1100px) and (max-height:987px) {
    #about-landing {
        top: 4.6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -35em;
    }
    .toggle2 {
        bottom: -40em;
    }
    .toggle3 {
        bottom: -45em;
    }
}

@media screen and (max-width:1100px) and (max-height:900px) {
    #about-landing {
        top: 4.6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -32em;
    }
    .toggle2 {
        bottom: -37em;
    }
    .toggle3 {
        bottom: -42em;
    }
}

@media screen and (max-width:1100px) and (max-height:850px) {
    #about-landing {
        top: 4.6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.6em;
        }
    }
    .toggle1 {
        bottom: -25em;
    }
    .toggle2 {
        bottom: -30em;
    }
    .toggle3 {
        bottom: -35em;
    }
}

@media screen and (max-width:1100px) and (max-height:737px) {
    #about-landing {
        top: 4.6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.2em;
        }
    }
    .toggle1 {
        bottom: -23em;
    }
    .toggle2 {
        bottom: -28em;
    }
    .toggle3 {
        bottom: -33em;
    }
}

@media screen and (max-width:953px) and (max-height:987px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -45em;
    }
    .toggle2 {
        bottom: -50em;
    }
    .toggle3 {
        bottom: -55em;
    }
}

@media screen and (max-width:953px) and (max-height:920px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -40em;
    }
    .toggle2 {
        bottom: -45em;
    }
    .toggle3 {
        bottom: -50em;
    }
}

@media screen and (max-width:953px) and (max-height:846px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 2em;
        }
    }
    .toggle1 {
        bottom: -35em;
    }
    .toggle2 {
        bottom: -40em;
    }
    .toggle3 {
        bottom: -45em;
    }
}

@media screen and (max-width:953px) and (max-height:778px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.2em;
        }
    }
    .toggle1 {
        bottom: -30em;
    }
    .toggle2 {
        bottom: -33em;
    }
    .toggle3 {
        bottom: -36em;
    }
}

@media screen and (max-width:760px) and (max-height:987px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.8em;
        }
    }
    .toggle1 {
        bottom: -55em;
    }
    .toggle2 {
        bottom: -60em;
    }
    .toggle3 {
        bottom: -65em;
    }
    .toggle4 {
        bottom: -80em;
    }
}

@media screen and (max-width:760px) and (max-height:890px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.8em;
        }
    }
    .toggle1 {
        bottom: -50em;
    }
    .toggle2 {
        bottom: -55em;
    }
    .toggle3 {
        bottom: -60em;
    }
    .toggle4 {
        bottom: -80em;
    }
}

@media screen and (max-width:760px) and (max-height:832px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.6em;
        }
    }
    .toggle1 {
        bottom: -45em;
    }
    .toggle2 {
        bottom: -50em;
    }
    .toggle3 {
        bottom: -55em;
    }
    .toggle4 {
        bottom: -80em;
    }
}

@media screen and (max-width:760px) and (max-height:770px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.2em;
        }
    }
    .toggle1 {
        bottom: -45em;
    }
    .toggle2 {
        bottom: -50em;
    }
    .toggle3 {
        bottom: -55em;
    }
    .toggle4 {
        bottom: -80em;
    }
}

@media screen and (max-width:530px) and (max-height:987px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.8em;
        }
    }
    .toggle1 {
        bottom: -65em;
    }
    .toggle2 {
        bottom: -70em;
    }
    .toggle3 {
        bottom: -75em;
    }
    .toggle4 {
        bottom: -85em;
    }
}

@media screen and (max-width:530px) and (max-height:884px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.6em;
        }
    }
    .toggle1 {
        bottom: -60em;
    }
    .toggle2 {
        bottom: -65em;
    }
    .toggle3 {
        bottom: -70em;
    }
    .toggle4 {
        bottom: -85em;
    }
}

@media screen and (max-width:530px) and (max-height:829px) {
    #about-landing {
        top: 6em;
    }
    #angle1,
    #angle2,
    #angle3 {
        h1 {
            font-size: 1.4em;
        }
    }
    .toggle1 {
        bottom: -55em;
    }
    .toggle2 {
        bottom: -60em;
    }
    .toggle3 {
        bottom: -65em;
    }
    .toggle4 {
        bottom: -85em;
    }
}



@media only screen and( max-width: 1040px) {
    .gridItem {
        width: 32.33%;
        margin-left: 0;
        margin-right: 0;
    }
    .grid-box-spotlight {
        width: 32.33%;
    }
    #footer_higher #footer_content {
        height: 19.443em;
    }
    // .toggle1 {
    //     bottom: -37.5em; // -600 px
    // }
    // .toggle2 {
    //     bottom: -43.75em; // -700 px
    // }
    // .toggle3 {
    //     bottom: -50em; // -800 px
    // }
    // .toggle4 {
    //     bottom: -56.25em; // -900 px
    // }
    #gilligan figure img,
    #counties figure img {
        width: 45%;
    }
}

@media only screen and (min-width: 701px) and ( max-width: 1040px) {
    .records-gridItem {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .grid-box-records {
        width: 75%;
    }
}

@media screen and (min-width: 941px) {
    .navbar,
    .navbar-header {
        min-height: 66.6px;
    }
    #logo_lrg {
        font-size: 47px !important;
    }
    #logo_med {
        font-size: 40px !important;
    }
    #logo_sm {
        top: 65px;
        font-size: 18px !important;
    }
}

@media screen and (max-width:940px) {
    .toggle-text.ac_collapse {
        .antiSkew2-matrix;
        left: 55%;
    }
    .navbar,
    .navbar-header {
        min-height: 51px;
    }
    #logo_lrg {
        font-size: 2.6em !important;
    }
    #logo_sm {
        top: 48px;
        font-size: 1em !important;
    }
    .gridItem img {
        max-height: 160px;
        min-height: 160px;
    }
    #partner-header {
        .partners-landing {
            img {
                width: 20%;
            }
        }
    }
    #gilligan2 figure,
    #gilligan figure,
    #counties figure {
        display: block;
        float: left;
        // width: 33.333%;
        img {
            width: 55%;
        }
    }
}

@media screen and (max-width:830px) {
    .membersDiv2 {
        left: 75%;
    }
    #imgcontainer {
        bottom: 65px;
    }
    .figure-nested {
        height: 140vh;
        bottom: 110px;
        // overflow-y: auto;
    }
    #committeeSpacer {
        height: 10em;
    }
}

@media screen and (min-width:800px) {
    .fa-3x {
        font-size: 2.33em !important;
    }
}

@media screen and (max-width: 769px) {
    #execDiv,
    #advisDiv {
        top: 49px;
    }
    .navbar,
    .navbar-header {
        min-height: 51px;
    }
    #logo_lrg {
        font-size: 3.1em !important;
    }
    #logo_med {
        font-size: 32px !important;
    }
    #logo_sm {
        top: 48px;
        font-size: 1.2em !important;
    }
    .imgHeaderLeft,
    .imgHeaderRight {
        height: 18.668em;
    }
}

.footer_buffer {
    padding-top: 67px;
}

#footer_higher #footer_content {
    height: 20.833em;
}

@media screen and (max-width: 700px) {
    .spotlight-wrapper {
        padding-bottom: 100px;
    }
    .grid {
        left: 0;
    }
    #recordsImages {
        width: 99%;
        margin-left: 0;
    }
    .records-gridItem {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
    }
    #images {
        width: 100%;
        margin-left: 0;
    }
    .gridItem {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
    }
    .grid-box-spotlight {
        width: 98%;
    }
    .toggle1.ac_collapse,
    .toggle2.ac_collapse,
    .toggle3.ac_collapse,
    .toggle4 {
        height: 100vh;
    }
    // .toggle1 {
    //     bottom: -55.556em; // -1000 px
    // }
    // .toggle2 {
    //     bottom: -61.114em; // -1100 px
    // }
    // .toggle3 {
    //     bottom: -66.667em; // -1200 px
    // }
    // .toggle4 {
    //     bottom: -72.223em; // -1300px
    // }
    #footer_button {
        left: 48%;
    }
    .figure-nested {
        height: 140vh;
        bottom: 110px;
    }
    #partner-header {
        .partners-landing {
            img {
                width: 35%;
            }
        }
    }
    #imgcontainer {
        overflow-y: auto;
    }
    #gilligan2 figure,
    #gilligan figure,
    #counties figure {
        display: block;
        margin: 0 auto;
        width: 100%;
        img {
            width: 35%;
        }
        h4 {
            font-size: 18px !important;
            margin-left: 30%;
            margin-right: 30%;
            -webkit-transform: translate3d(0, -100%, 0) translate3d(0, -4.445em, 0);
            transform: translate3d(0, -100%, 0) translate3d(0, -4.445em, 0);
        }
    }
    .gridItem img {
        max-height: 1000px;
    }
}

////////////////////////////////////////////////////////////
////////////////////////////////////
@media only screen and (min-device-width: 760px) and (max-device-width: 1030px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .navbar-header {
        height: 65px;
    }
    #logo_lrg {
        font-size: 3em !important;
        //padding-bottom: 10px;
    }
    #logo_sm {
        top: 60px;
    }
    #about-landing {
        width: 40%;
        max-height: 60vh;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 20px !important;
    }
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        .skew-matrix;
    }
    .toggle1 {
        bottom: -38.886em; // -575 px
    }
    .toggle2 {
        bottom: -44.444em; // -675 px
    }
    .toggle3 {
        bottom: -50em; // -775 px
    }
    .toggle4 {
        bottom: -55.555em; // -875 px
    }
    .toggle-text.ac_collapse {
        .antiSkew-matrix;
        left: 60%;
    }
    #votingMem,
    #nonVoting {
        padding: 0.556em 0.556em 2em 0.556em;
    }
    #execDiv,
    #advisDiv {
        top: 65px;
        padding-bottom: 50px;
    }
    .gridItem img {
        max-height: 180px;
        min-height: 180px;
    }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 1030px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .navbar-header {
        height: 62px;
    }
    #logo_lrg {
        font-size: 3em !important;
        //padding-bottom: 10px;
    }
    #logo_sm {
        top: 51px !important;
        font-size: 1.2em !important;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1 {
        right: 0px;
        left: 0px;
        bottom: -47.222em; // -850 px
    }
    .toggle2 {
        right: 0px;
        left: 0px;
        bottom: -52.778em; // -950 px
    }
    .toggle3 {
        right: 0px;
        left: 0px;
        bottom: -58.336em; // -1050 px
    }
    .toggle4 {
        right: 0px;
        left: 0px;
        bottom: -63.886em; // -1150 px
    }
    #committeeSpacer {
        height: 15em;
    }
    .footer_buffer {
        padding-top: 60px;
    }
    #footer_button {
        position: fixed;
        bottom: 65px;
        padding-bottom: -65px;
        left: 49%;
    }
    .gridItem img {
        max-height: 200px;
        min-height: 200px;
    }
}


/* Landscape medium-large device */

@media only screen and (min-device-width: 410px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    #logo_lrg {
        font-size: 3.1em !important;
    }
    #logo_sm {
        top: 48px;
        font-size: 1.2em !important;
    }
    #nav-links p {
        font-size: 12px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        position: fixed;
        bottom: 0px;
    }
    .header {
        min-width: 100vw;
        min-height: 100vh;
    }
    #myCarousel {
        height: 85vh;
    }
    #footer_button {
        position: fixed;
        bottom: 20px;
        padding-bottom: -20px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 170px;
        font-size: 8px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom,
    .fa-3x {
        font-size: 12px !important;
    }
    .fa-5x {
        font-size: 32px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        top: 90px;
        left: 25px;
        width: 40%;
        max-height: 60vh;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        .skew-matrix;
    }
    .toggle1 {
        bottom: -35.9375em; // -575 px
    }
    .toggle2 {
        bottom: -42.1875em; // -675 px
    }
    .toggle3 {
        bottom: -48.4375em; // -775 px
    }
    .toggle4 {
        bottom: -54.6875em; // -875 px
    }
    .toggle-text.ac_collapse {
        .antiSkew-matrix;
        left: 60%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 10px !important;
    }
    .grid {
        left: 1px;
    }
    .gridItem img {
        max-height: 100px;
        min-height: 100px;
    }
    .imgHeader-sm-lt {
        bottom: 40px;
        a {
            h3 {
                font-size: 1em;
            }
            h4 {
                font-size: .7em;
            }
        }
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    // #membersDiv {
    //     width: 50%;
    // }
    #membersDiv2 {
        width: 50%;
    }
    #to-top {
        bottom: 3.51em;
    }
    .textBox:not(.hidden) {
        height: 65%;
    }
    .records-textBox {
        bottom: 0;
    }
    #leftDiv {
        width: 35%;
    }
    .left_Div {
        top: 60px;
    }
    #committeeSpacer {
        height: 7em;
    }
    #rightDiv {
        height: 70%;
        width: 65%;
    }
    #execDiv,
    #advisDiv {
        height: 80%;
        width: 65%;
        top: 49px;
        padding-bottom: 45px;
    }
    hr {
        margin: 10px 0;
    }
    #advisGroup,
    #execGroup {
        li h2 {
            font-size: 12px !important;
        }
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    .figure-nested {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 80px;
    }
    #partner-header {
        .partners-landing {
            img {
                width: 33%;
            }
        }
    }
    #gilligan2 figure,
    #gilligan figure,
    #counties figure {
        display: block;
        float: left;
        // width: 33.33%;
        img {
            padding: 0;
            width: 33%;
        }
        h4 {
            font-size: 12px !important;
            margin-left: 15%;
            margin-right: 15%;
            -webkit-transform: translate3d(0, -100%, 0) translate3d(0, -2.87em, 0);
            transform: translate3d(0, -100%, 0) translate3d(0, -2.87em, 0);
        }
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .navbar,
    .navbar-header {
        min-height: 49px;
    }
    #logo_lrg {
        font-size: 3em !important;
    }
    #logo_sm {
        top: 40px;
        font-size: 1.1em !important;
    }
    #nav-links p {
        font-size: 12px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        position: fixed;
        bottom: 0px;
    }
    .header {
        min-width: 100vw;
        min-height: 100vh;
    }
    #myCarousel {
        height: 93vh;
    }
    #to-top {
        bottom: 4.111em;
    }
    #footer_button {
        position: fixed;
        bottom: 51px;
        padding-bottom: -51px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 170px;
        font-size: 8px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom,
    .fa-3x {
        font-size: 8px !important;
    }
    .fa-5x {
        font-size: 32px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        width: 40%;
        max-height: 60vh;
        top: 90px;
        left: 25px;
        font-size: 10px !important;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1 {
        right: 0px;
        left: 0px;
        bottom: -47.222em; // -850 px
    }
    .toggle2 {
        right: 0px;
        left: 0px;
        bottom: -52.778em; // -950 px
    }
    .toggle3 {
        right: 0px;
        left: 0px;
        bottom: -58.336em; // -1050 px
    }
    .toggle4 {
        right: 0px;
        left: 0px;
        bottom: -63.886em; // -1150 px
    }
    .toggle-text.ac_collapse {
        .antiSkew2-matrix;
        left: 55%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 10px !important;
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    .records-textBox {
        bottom: 0;
    }
    #leftDiv {
        width: 35%;
    }
    .left_Div {
        top: 60px;
    }
    #rightDiv {
        height: 85%;
        width: 65%;
    }
    #execDiv,
    #advisDiv {
        height: 95%;
        width: 65%;
        top: 49px;
        padding-bottom: 50px;
    }
    #advisGroup,
    #execGroup {
        padding-top: 80px;
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    div.floater a h3 {
        font-size: 2em !important;
    }
    div.effect-shade a {
        h1 {
            font-size: 4em !important;
        }
        h4 {
            font-size: 1.5em !important;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #logo_lrg {
        font-size: 40px !important;
    }
    #logo_med {
        font-size: 33px !important;
    }
    #logo_sm {
        top: 48px;
        font-size: 14px !important;
    }
    #nav-links p {
        font-size: 12px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        position: fixed;
        bottom: 0px;
    }
    .header {
        min-width: 100vw;
        min-height: 100vh;
    }
    #myCarousel {
        height: 85vh;
    }
    #footer_button {
        position: fixed;
        bottom: 20px;
        padding-bottom: -20px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 170px;
        font-size: 8px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom,
    .fa-3x {
        font-size: 12px !important;
    }
    .fa-5x {
        font-size: 32px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        top: 90px;
        left: 25px;
        width: 40%;
        max-height: 60vh;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        .skew-matrix;
    }
    .toggle1 {
        bottom: -35.9375em; // -575 px
    }
    .toggle2 {
        bottom: -42.1875em; // -675 px
    }
    .toggle3 {
        bottom: -48.4375em; // -775 px
    }
    .toggle4 {
        bottom: -54.6875em; // -875 px
    }
    .toggle-text.ac_collapse {
        .antiSkew-matrix;
        left: 60%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 10px !important;
    }
    .grid {
        left: 1px;
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    // #membersDiv {
    //     width: 50%;
    // }
    #membersDiv2 {
        width: 50%;
    }
    #to-top {
        bottom: 3.51em;
    }
    .textBox:not(.hidden) {
        height: 65%;
    }
    .records-textBox {
        bottom: 0;
    }
    #leftDiv {
        width: 35%;
    }
    .left_Div {
        top: 60px;
    }
    #committeeSpacer {
        height: 6em;
    }
    #rightDiv {
        height: 70%;
        width: 65%;
    }
    #execDiv,
    #advisDiv {
        height: 80%;
        width: 65%;
        top: 49px;
        padding-bottom: 45px;
    }
    hr {
        margin: 10px 0;
    }
    #advisGroup,
    #execGroup {
        li h2 {
            font-size: 12px !important;
        }
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    .figure-nested {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 80px;
    }
    #partner-header {
        .partners-landing {
            img {
                width: 33%;
            }
        }
    }
    #gilligan2 figure,
    #gilligan figure,
    #counties figure {
        display: block;
        float: left;
        // width: 33.33%;
        img {
            padding: 0;
            width: 33%;
        }
        h4 {
            font-size: 12px !important;
            margin-left: 15%;
            margin-right: 15%;
            -webkit-transform: translate3d(0, -100%, 0) translate3d(0, -2.87em, 0);
            transform: translate3d(0, -100%, 0) translate3d(0, -2.87em, 0);
        }
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .navbar,
    .navbar-header {
        min-height: 49px;
    }
    #logo_lrg {
        font-size: 30px !important;
    }
    #logo_med {
        font-size: 22px !important;
    }
    #logo_sm {
        top: 37px;
        font-size: 10px !important;
    }
    #nav-links p {
        font-size: 12px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        position: fixed;
        bottom: 0px;
    }
    .header {
        min-width: 100vw;
        min-height: 100vh;
    }
    #myCarousel {
        height: 93vh;
    }
    #to-top {
        bottom: 4.111em;
    }
    #footer_button {
        position: fixed;
        bottom: 51px;
        padding-bottom: -51px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 170px;
        font-size: 8px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom,
    .fa-3x {
        font-size: 8px !important;
    }
    .fa-5x {
        font-size: 32px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        width: 40%;
        max-height: 60vh;
        top: 90px;
        left: 25px;
        font-size: 10px !important;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1 {
        right: 0px;
        left: 0px;
        bottom: -47.222em; // -850 px
    }
    .toggle2 {
        right: 0px;
        left: 0px;
        bottom: -52.778em; // -950 px
    }
    .toggle3 {
        right: 0px;
        left: 0px;
        bottom: -58.336em; // -1050 px
    }
    .toggle4 {
        right: 0px;
        left: 0px;
        bottom: -63.886em; // -1150 px
    }
    .toggle-text.ac_collapse {
        .antiSkew2-matrix;
        left: 55%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 10px !important;
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    .records-textBox {
        bottom: 0;
    }
    #leftDiv {
        width: 35%;
    }
    .left_Div {
        top: 60px;
    }
    #rightDiv {
        height: 85%;
        width: 65%;
    }
    #execDiv,
    #advisDiv {
        height: 95%;
        width: 65%;
        top: 49px;
        padding-bottom: 50px;
    }
    #advisGroup,
    #execGroup {
        padding-top: 80px;
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    div.floater a h3 {
        font-size: 2em !important;
    }
    div.effect-shade a {
        h1 {
            font-size: 4em !important;
        }
        h4 {
            font-size: 1.5em !important;
        }
    }
}

// ////////////////////////////////////////////////////////////
// ////////////////////////////////////
// /* Landscape small mobile device */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #logo_lrg {
        font-size: 3.1em !important;
    }
    #logo_sm {
        top: 40px;
        font-size: 1.2em !important;
    }
    #nav-links p {
        font-size: 10px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        position: fixed;
        bottom: 0px;
        padding-bottom: -10px;
    }
    .header {
        min-width: 100vw;
        height: 100vh;
    }
    #myCarousel {
        height: 85vh;
    }
    #to-top {
        bottom: 3.611em;
    }
    #footer_button {
        position: fixed;
        bottom: 20px;
        padding-bottom: -20px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 150px;
        font-size: 8px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom,
    .fa-3x {
        font-size: 8px !important;
    }
    .fa-5x {
        font-size: 22px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        top: 6em;
        left: 25px;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1.ac_collapse,
    .toggle2.ac_collapse,
    .toggle3.ac_collapse,
    .toggle4 {
        height: 100vh;
    }
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        .skew-matrix;
    }
    .toggle1 {
        bottom: -29.166em; // -500 px
    }
    .toggle2 {
        bottom: -34.722em; // -600 px
    }
    .toggle3 {
        bottom: -40.2778em; // -700 px
    }
    .toggle4 {
        bottom: -45.8336em; // -800 px
    }
    .toggle-text.ac_collapse {
        .antiSkew-matrix;
        left: 60%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 10px !important;
    }
    .grid {
        left: 1px;
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    .textBox:not(.hidden) {
        height: 65%;
    }
    .records-textBox {
        bottom: 0;
    }
    .left_Div {
        top: 60px;
    }
    #committeeSpacer {
        height: 3.1em;
    }
    #execDiv,
    #advisDiv {
        top: 49px;
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    .figure-nested {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 100px;
    }
    #partner-header {
        .partners-landing {
            img {
                width: 33%;
            }
        }
    }
    #gilligan2 figure,
    #gilligan figure,
    #counties figure {
        display: block;
        float: left;
        // width: 33.33%;
        img {
            padding: 0;
            width: 33%;
        }
        h4 {
            font-size: 10px !important;
            margin-left: 15%;
            margin-right: 15%;
            -webkit-transform: translate3d(0, -100%, 0) translate3d(0, -2em, 0);
            transform: translate3d(0, -100%, 0) translate3d(0, -2em, 0);
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .navbar,
    .navbar-header {
        min-height: 35px !important;
    }
    #logo_lrg {
        font-size: 2em !important;
    }
    #logo_sm {
        top: 25px;
        font-size: 8px !important;
    }
    #nav-links p {
        font-size: 8px !important;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    .navbar.navbar-fixed-bottom,
    .footer_button_div {
        overflow-y: auto;
        position: fixed;
        bottom: 0px;
        //padding-bottom: -10px;
    }
    .header {
        min-width: 100vw;
        min-height: 100vh;
    }
    #myCarousel {
        height: 91vh;
    }
    #to-top {
        bottom: 4.111em;
    }
    #footer_button {
        position: fixed;
        bottom: 45px;
        padding-bottom: -45px;
        left: 49%;
    }
    #footer_higher #footer_content {
        height: 180px;
        font-size: 6px !important;
    }
    hr.small {
        margin: 10px 0;
    }
    .footer_buffer {
        padding-top: 40px;
    }
    .footer-bottom {
        font-size: 6px !important;
    }
    .fa-3x {
        font-size: 8px !important;
    }
    .fa-5x {
        font-size: 22px !important;
    }
    .footer-bottom {
        padding-top: 0;
    }
    #about-landing {
        .font-blocky-lt;
        font-size: 8px !important;
        width: 85vw;
        max-height: 30vh;
        top: 6em;
        left: 25px;
    }
    .slide-toggle-close,
    .slide-toggle-open {
        font-size: 17px !important;
    }
    .toggle1.ac_collapse,
    .toggle2.ac_collapse,
    .toggle3.ac_collapse,
    .toggle4 {
        height: 100vh;
    }
    .toggle1 {
        right: 0px;
        left: 0px;
        bottom: -33.336em; // -650 px
    }
    .toggle2 {
        right: 0px;
        left: 0px;
        bottom: -38.886em; // -750 px
    }
    .toggle3 {
        right: 0px;
        left: 0px;
        bottom: -44.444em; // -850 px
    }
    .toggle4 {
        right: 0px;
        left: 0px;
        bottom: -50em; // -950 px
    }
    .toggle-text.ac_collapse {
        .antiSkew2-matrix;
        left: 55%;
    }
    .toggle-close,
    .toggle-open {
        font-size: 8px !important;
    }
    .spotlight-wrapper,
    .records-wrapper {
        top: 55px;
    }
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    .spotlight-wrapper {
        top: 50px !important;
    }
    .records-wrapper,
    #membersDiv,
    #membersDiv2 {
        top: 0px !important;
    }
    .records-textBox {
        bottom: 0;
    }
    #leftDiv {
        width: 35%;
    }
    .left_Div {
        top: 60px;
    }
    #committeeSpacer {
        height: 5em;
    }
    #rightDiv,
    #execDiv,
    #advisDiv {
        height: 95%;
        width: 65%;
        padding-bottom: 50px;
    }
    #execGroup,
    #advisGroup {
        padding-top: 80px;
    }
    #execDiv,
    #advisDiv {
        top: 49px;
    }
    .archive_months,
    .members {
        margin-left: 5px;
    }
    div.floater a h3 {
        font-size: 2em !important;
    }
    div.effect-shade a {
        h1 {
            font-size: 4em !important;
        }
        h4 {
            font-size: 1.5em !important;
        }
    }
}
