<!--Start About Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="about_bg">
            <div class="row container-fluid">
                <div class="col-lg-4 col-sm-6 col-xs-6" id="about-landing">
                    <p>The <strong>Mid-Shore Regional Council (MSRC)</strong> operates as a cooperative regional planning and Development agency within Caroline, Dorchester, and Talbot Counties to foster physical, economic, and social development. The Council initiates and coordinates plans and projects for the development of human and economic resources.
                        <br/>
                        <br/> The MSRC is a federally designated Economic Development District (an economically distressed area) that enables federal funding to the region through the U.S. Department of Commerce's Economic Development Administration.</p>
                    <!--<br />
                    <br />
                    <br />
                    <br />
                    <a href="#"><h4>Contact Us</h4></a>-->
                </div>
            </div>
<!--             <div class="angle_wrapper">
                <div class="angle1 ac_collapse" id="angle1">
                    <h1 class="angle-text ac_collapse" id="members">Members&nbsp;&nbsp;&nbsp;
                        <span data-toggle="ac_collapse" data-target="#members-div" class="slide-toggle-close transition-all"></span></h1> {{ members}}
                </div>
                <div class="angle2 ac_collapse" id="angle2">
                    <h1 class="angle-text ac_collapse" id="spotlight">Spotlight&nbsp;&nbsp;&nbsp;
                        <span data-toggle="ac_collapse" data-target="#spotlight" class="slide-toggle-close transition-all"></span></h1> {{ spotlight}}
                </div>
                <div class="angle3 ac_collapse" id="angle3">
                    <h1 class="angle-text ac_collapse" id="records">Records&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span data-toggle="ac_collapse" data-target="#records" class="slide-toggle-close transition-all"></span></h1> {{ records}}
                </div>
                <div class="angle4 transition-all ">
                    <h1 class="angle-text text-angle-center"></h1>
                </div>
            </div> -->
                        <div class="angle_wrapper">
                <div class="toggle1 ac_collapse" id="angle1">
                    <h1 class="toggle-text ac_collapse" id="members">Members&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#members-div" class="slide-toggle-close transition-all"></span></h1> {{> members}}
                </div>
                <div class="toggle2 ac_collapse" id="angle2">
                    <h1 class="toggle-text ac_collapse" id="spotlight">Spotlight&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#spotlight" class="slide-toggle-close transition-all"></span></h1> {{> spotlight}}
                </div>
                <div class="toggle3 ac_collapse" id="angle3">
                    <h1 class="toggle-text ac_collapse" id="records">Records&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#records" class="slide-toggle-close transition-all"></span></h1> {{> records}}
                </div>
                <div class="toggle4 transition-all ">
                    <h1 class="toggle-text text-angle-center"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="about-bg footer_wrapper-about"></div>
<!-- <br>
<br>
<br>
<br> -->
