{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/about-style.css">
{{/contentFor}}
<!--Start About Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="about_bg" title='Photo courtesy of Bev Middleton'>
            <div class="row container-fluid">
                <div class="col-lg-4 col-md-11 col-sm-11 col-xs-11" id="about-landing">
                    <p>The <strong>Mid-Shore Regional Council (MSRC)</strong> was created in 2001 via enabling legislation proposed by the Eastern Shore Delegation in response to recommendations made in the Governor's Eastern Shore Economic Development Task Force Report.
                        <br/>
                        <br/> The MSRC operates as a cooperative regional planning and development agency within Caroline, Dorchester and Talbot Counties to foster physical, economic and social development.  The Council initiates and coordinates plans and projects for the development of human and economic resources.
                        <br/>
                        <br/>The MSRC is a federally designated Economic Development District (an economically distressed area) that enables federal funding to the region through the U.S. Department of Commerce's Economic Development Administration.</p>
                </div>
            </div>
            <div class="angle_wrapper">
                <div class="toggle1 ac_collapse" id="angle1">
                    <h1 class="toggle-text ac_collapse" id="members">Members&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#members-div" class="slide-toggle-close transition-all"></span></h1> {{> members}}
                </div>
                <div class="toggle2 ac_collapse" id="angle2">
                    <h1 class="toggle-text ac_collapse" id="spotlight">Spotlight&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#spotlight" class="slide-toggle-close transition-all"></span></h1> {{> spotlight}}
                </div>
                <div class="toggle3 ac_collapse" id="angle3">
                    <h1 class="toggle-text ac_collapse" id="records">Records&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span data-angle="ac_collapse" data-target="#records" class="slide-toggle-close transition-all"></span></h1> {{> records}}
                </div>
                <div class="toggle4 transition-all ">
                    <h1 class="toggle-text text-angle-center"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="about-bg footer_wrapper-about"></div>
{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/about-bundle.js"></script>
{{/contentFor}}
