<!--Start Committees Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="committees_bg">
            <div class="row container-fluid">
                <div class="col-lg-6 col-md-6 col-sm-8 transition-all" id="leftDiv">
                    <div class="left_Div">
                        <ul class="list-unstyled text-center" id="execButton">
                            <li id="svgCenter"><img src="./img/ic_people_outline_black_24px.svg"></li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <p style="font-size: 45px;">Executive Committee</p>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-unstyled text-center" id="advisButton">
                            <li id="svgCenter"><img src="./img/ic_textsms_black_24px.svg"></li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <p style="font-size: 45px;">Advisory Committees</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 transition-all" id="rightDiv">
                    <div class="row right_Div" id="execDiv">
                        <br>
                        <br>
                        <br>
                        <strong style="font-size: 45px;">MSRC's Executive Committee</strong>
                        <br> {{> execDiv}}
                    </div>
                    <div class="row right_Div" id="advisDiv">
                        <br>
                        <br>
                        <br>
                        <strong style="font-size: 45px;">MSRC's Advisory Committees</strong>
                        <br> {{> advisDiv}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<br />
<br />
<br />
<br />
<br />
<br />
