<!--Start Committees Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="committees_bg">
            <div class="row container-fluid">
                <div class="col-lg-6 col-md-6 col-sm-8 transition-all" class="leftDiv">
                    <div class="left_Div text-vertical-center" >
                        <ul class="list-unstyled text-center">
                            <li id="svgCenter"><img src="./img/ic_people_outline_black_24dp_2x.png"></li>
                            <li><hr></li>
                            <li><a href="#">Executive Committee</a></li>
                            <li id="svgCenter"><img src="./img/ic_textsms_black_24dp_2x.png"></li>
                            <li><hr></li>
                            <li><a href="#">Advisory Committees</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 transition-all">
                </div>
            </div>
        </div>
    </div>
</header>
<br />
<br />
<br />
<br />
<br />
<br />
