{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/home-style.css"> {{/contentFor}}
<header id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <!-- <div id="marketing-plan" class="alert alert-info text-center">
      <h1>
        <small><u>Request for proposal</u></small><br/>
        Mid-Shore Regional Marketing Plan <br/>
        <small>
          <a href="/documents/Request For Proposal Mid-Shore Regional Marketing Plan.pdf">Click To Download</a>
        </small>
      </h1>
      
    </div> -->
    <!--Dorchester Co. pics-->
    <div class="item active">
      <!-- background image set using CSS in home.less line-403. -->
      <div class="slide-1" title="Photo courtesy of Lori R Bramble"></div>
      <!--
            <div class="carousel-caption">
                <p>Caption 1</p>
            </div>-->
    </div>
    <div class="item">
      <!-- background image set using CSS. -->
      <div class="slide-2" title="Photo courtesy of Lori R Bramble"></div>
      <!--<div class="carousel-caption">
                <p>Caption 4</p>
            </div>-->
    </div>
    <!--Caroline Co. pics-->
    <div class="item">
      <!-- background image set using CSS. -->
      <!-- title="Photo courtesy of Name"-->
      <div class="slide-3"></div>
      <!--
            <div class="carousel-caption">
                <p>Caption 2</p>
            </div>-->
    </div>
    <div class="item">
      <!-- background image set using CSS. -->
      <!-- title="Photo courtesy of Name"-->
      <div class="slide-4"></div>
      <!--
            <div class="carousel-caption">
                <p>Caption 3</p>
            </div>-->
    </div>
    <!--Talbot Co. pics-->
    <div class="item">
      <!-- background image set using CSS. -->
      <!-- title="Photo courtesy of Name"-->
      <div class="slide-5"></div>
      <!--<div class="carousel-caption">
                <p>Caption 4</p>
            </div>-->
    </div>
    <div class="item">
      <!-- background image set using CSS. -->
      <!-- title="Photo courtesy of Name"-->
      <div class="slide-6"></div>
      <!--<div class="carousel-caption">
                <p>Caption 4</p>
            </div>-->
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <div class="btn-center"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <!--<span class="sr-only">Previous</span>-->
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <div class="btn-center"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    <!--<span class="sr-only">Next</span>-->
  </a>
</header>
<!-- Headline achivements -->
<section class="impact-body impact-bg">
  <br/>
  <div class="container-fluid text-center">
   <!--  <div class="row">
      <div class="alert alert-info">
        <a href="documents/MEETING-NOTICE-12-7-2017.pdf" target="_blank" style="color: black;">
          <strong>Public Meeting Notice and Agenda 12/07/2017</strong>
        </a>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="alert alert-info">
          <h3 class="text-center">Meeting Notice</h3>
          <div>
            Notice is hereby given that the Mid Shore Regional Council (comprised of Caroline, Dorchester & Talbot Counties) will be holding a quarterly meeting on Thursday, September 20, 2018. The meeting will be held at the MSRC office in Easton, MD and will begin at 7:30 a.m. <br/><br/>

            Should you have any questions or concerns please contact the Mid Shore Regional Council at (410) 770-4798. <br/><br/>

            All interested parties are hereby notified and invited to attend.
          </div>
        </div> 
      </div>     
    </div> -->
    <div class="row">
      <h3 class="impact-header">Maryland Mid-Shore Economic Impact</h3>
    </div>
    
    <!-- hardcoded values for economic impact stats -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="effect-shade">
          <!-- data source - Maryland department of commerce {
                    http://commerce.maryland.gov/Documents/ResearchDocument/DorchesterBef.pdf
                    http://commerce.maryland.gov/Documents/ResearchDocument/TalbotBef.pdf
                    http://commerce.maryland.gov/Documents/ResearchDocument/CarolineBef.pdf } -->
          <h1 style="color: #1e9bd3">2,980</h1>
          <h4 style="color: #333333;">Business Establishments</h4>
          <!-- <p><a href=""></a></p> -->
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="effect-shade">
          <!-- data source - https://www.census.gov/quickfacts/dashboard/INC910215/24041,24019,24011,00 -->
          <h1 style="color: #72bb53">$30,376</h1>
          <h4 style="color: #333333;">Per Capita Income</h4>
          <!-- <p><a href=""></a></p> -->
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="effect-shade">
          <!-- data source - CEDS table's Annual Average Employment for CDT County, 2007 - 2015 -->
          <h1 style="color: #d39c2f">72k+</h1>
          <h4 style="color: #333333;">Workforce (2015)</h4>
          <!-- <p><a href=""></a></p> -->
        </div>
      </div>
      <div class="col-lg-3  col-sm-6">
        <div class="effect-shade">
          <!-- data source - https://data.maryland.gov/Transportation/Choose-Maryland-Compare-Counties-Transportation/ief7-i74z -->
          <h1 style="color: #b70f0a;">28min</h1>
          <h4 style="color: #333333;">Average Travel to Work</h4>
          <!-- <p><a href="https://data.maryland.gov/Transportation/Choose-Maryland-Compare-Counties-Transportation/ief7-i74z" target="_blank">Data Source</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!--grid of images that Redirect to -->
<section class="figure-nest row">
  <figure class="effect-move">
    <a href="./about">
      <!-- adjust max-height in home.less figure.effect-move img for uniformity -->
      <img src="./img/Dorchester/Lighthouse_2041_Bev_Middleton900x600.jpg" title="Photo courtesy of Bev Middleton">
      <div class="floater text-vertical-center">
        <h3>Meet the <br> Mid-Shore Regional Council</h3>
      </div>
    </a>
  </figure>
  <figure class="effect-move">
    <a href="./committees">
      <img src="./img/Robin-Burton/Sunrise Robin Burton900x600.jpg" title="Photo courtesy of Robin Burton">
      <div class="floater text-vertical-center">
        <h3>View the Committees</h3>
      </div>
    </a>
  </figure>
  <figure class="effect-move">
    <a href="./partners">
      <img src="./img/Dorchester/Hoopers-Island_sunrise_DorchesterTourism900x600.jpg" title="Photo courtesy of Dorcheter County Tourism">
      <div class="floater text-vertical-center">
        <h3>See our Partnerships</h3>
      </div>
    </a>
  </figure>
</section>

<section class="impact-body">
  <div class="container-fluid text-center">
    <div class="row">
      <h3 class="impact-header">Announcements</h3>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-left">
        <div class="announcement">
          <h4 style="color: #333333;">MSRC Quarerly Meeting - June 10, 2021</h4>
          <a href="documents/Agenda MSRC quarterly mtg 6-10-21 - Meeting Notice.pdf" target="_blank" style="color: #5f5f5f;">View the Agenda</a>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</section>
<!-- Reserve space for footer at end of page -->
<div class="footer_wrapper_home"></div>
{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/home-bundle.js"></script>
{{/contentFor}}