{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/partners-style.css">
{{/contentFor}}
<!--Start Partners Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="partners_bg" alt="Photo courtesy of Dorchester County Tourism">
            <div id="nested-container">
                <div id="imgcontainer">
                    <div class="figure-nested">
                        <div id="partner-header">
                            <div class="container partners-landing">
                                <p>The Mid-Shore Regional Council would like to thank its partners for their continued support: State of Maryland, U.S. Economic Development Administration, and the Mid-Shore Counties: Caroline, Dorchester, and Talbot.
                                </p>
                            </div>
                        </div>
                        <div id="counties" class="row-fluid">
                            <figure id="DCED">
                                <img src="./img/logos/dorcheseal2.png" alt="" align="middle">
                                <a href="#"><h4>Dorchester County Economic Development</h4></a>
                            </figure>
                            <figure id="CCED">
                                <img src="./img/logos/carolseal2.png" alt="" align="middle">
                                <a href="#"><h4>Caroline County Economic Development</h4></a>
                            </figure>
                            <figure id="TCED">
                                <img src="./img/logos/talbotseal2.png" alt="" align="middle">
                                <a href="#"><h4>Talbot County Economic Development</h4></a>
                            </figure>
                            <figure id="USEDA">
                                <img src="./img/logos/edaseal-snip.PNG" alt="" align="middle">
                                <a href="#"><h4>United States Economic Development Administration</h4></a>
                            </figure>
                            <figure id="MDBED">
                                <img src="./img/logos/dbed2.png" alt="" align="middle">
                                <a href="#">
                                    <h4>Maryland Department Business and Economic Development</h4></a>
                            </figure>
                        </div>
                        <div id="partner-header">
                            <div class="container partners-landing">
                                <p>
                                    The support of these partners enables the Mid-Shore Regional Council to contribute to other local initiatives: Eastern Shore Entreprenurship Center, Eastern Shore Regional GIS Cooperative, Maryland Broadband Cooperative, Maryland Upper Shore Transit.
                                </p>
                            </div>
                        </div>
                        <div id="gilligan" class="row-fluid">
                            <figure id="MUSTBUS">
                                <img src="./img/logos/must.jpg" alt="" align="middle">
                                <a href="#"><h4>MUST Bus</h4></a>
                            </figure>
                            <figure id="ESEC">
                                <img src="./img/logos/ESEC2.jpg" alt="" align="middle">
                                <a href="#"><h4>Eastern Shore Entrepreneurship Center</h4></a>
                            </figure>
                            <figure id="MDBC">
                                <img src="./img/logos/mdbc.gif" alt="" align="middle">
                                <a href="#"><h4>Maryland Broadband Cooperative</h4></a>
                            </figure>

                            <figure id="ESRGC">
                                <img src="./img/logos/esrgc_logo.jpg" alt="" align="middle">
                                <a href="#"><h4>Eastern Shore Regional GIS Cooperative</h4></a>
                            </figure>
                        </div>
                        <!-- start additional resources -->
                        <div id="partner-header">
                            <div class="container partners-landing">
                                <p>
                                    Additional resources include: Maryland Farming and the Business, Economic and Community Outreach Network at Salisbury University.
                                </p>
                            </div>
                        </div>
                        <div id="gilligan2" class="row-fluid">
                            <figure id="MDFARM">
                                <img src="./img/logos/marylandfarming.png" alt="" align="middle">
                                <a href="#"><h4>Maryland Farming</h4></a>
                            </figure>
                            <figure id="BEACON">
                                <img src="./img/logos/beaconlogo2.png" alt="" align="middle">
                                <a href="#"><h4>BEACON - Business, Economic, and Community Outreach Network at Salisbury University</h4></a>
                            </figure>
                        </div>
                        <!-- end additional resources -->
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            <!-- end #imgcontainer -->
        </div>
    </div>
</header>
{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/partners-bundle.js"></script>
{{/contentFor}}
