<!--Start Partners Page body-->
<header class="header container-fluid no-padding">
    <div class="all_wrapper container-fluid no-padding">
        <div class="partners_bg">
            <!-- one line'r-->
            <!-- div.figure-nest.row-fluid#imgcontainer(div#counties(figure(img+h4)*3)+div#gilligan(figure(img+h4)*10)) -->
            <div id="imgcontainer">
                <div class="figure-nested row-fluid">
                    <div id="counties">
                        <figure onclick="downloadLink('https://www.carolinebusiness.com');">
                            <img src="./img/logos/carolseal2.png" alt="" align="middle">
                            <h4>Caroline County Economic Development</h4>
                        </figure>
                        <figure onclick="downloadLink('http://choosedorchester.org/');">
                            <img src="./img/logos/dorcheseal2.png" alt="" align="middle">
                            <h4>Dorchester County Economic Development</h4>
                        </figure>
                        <figure onclick="downloadLink('http://www.talbotcountymd.gov/index.php?page=Economic_Development');">
                            <img src="./img/logos/talbotseal2.png" alt="" align="middle">
                            <h4>Talbot County Economic Development</h4>
                        </figure>
                    </div>
                    <div id="gilligan">
                        <figure onclick="downloadLink('http://www.ventureahead.org/');">
                            <img src="./img/logos/ESEC2.jpg" alt="" align="middle">
                            <p>Eastern Shore Entrepreneurship Center</p>
                        </figure>
                        <figure onclick="downloadLink('http://www.esrgc.org/');">
                            <img src="./img/logos/esrgc_logo.jpg" alt="" align="middle">
                            <p>Eastern Shore Regional GIS Cooperative</p>
                        </figure>
                        <figure onclick="downloadLink('http://www.mdbc.us/');">
                            <img src="./img/logos/mdbc.gif" alt="" align="middle">
                            <p>Maryland Broadband Cooperative</p>
                        </figure>
                        <figure onclick="downloadLink('http://www.mustbus.org/');">
                            <img src="./img/logos/must.jpg" alt="" align="middle">
                            <p>MUST Bus or call 1-866-330-MUST (6878)</p>
                        </figure>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            
            <!-- end #imgcontainer -->
        </div>
        <div class="partner-skew1"></div>
        <div class="partner-skew2"></div>
    </div>
</header>
