
<div class="row container-fluid" id="membersSlide">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="membersDiv">
        <div class="membersDiv_open">
            <ul class="list-unstyled" id="votingMem-button">
                <li>
                    <h4>Voting Members</h4>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum iusto nostrum tempore ad ab earum quas est perferendis ea necessitatibus corrupti id, atque, tenetur, dolorem porro ex. Laboriosam, porro.</p>
                </li>
                <li>
                    <p><u>Meet voting members</u></p>
                </li>
            </ul>
            <ul class="list-unstyled" id="nonVoting-button">
                <li>
                    <h4>Non-Voting Members</h4>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi molestiae, nam fuga quas nesciunt maxime magnam voluptatum reiciendis cumque beatae, illo doloribus nemo tempora assumenda optio et atque facere provident.</p>
                </li>
                <li>
                    <p><u>Meet non-voting members</u></p>
                </li>
            </ul>
        </div>
        <div class="membersDiv_bg"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="membersDiv2">
        <div class="membersDiv2_open transition-all" id="votingMem">
            <h3>Voting Members</h3>
            <br>
            <p>
                <ul class="list-unstyled">
                    <li>Dan Franklin, Caroline County Commissioner</li>
                    <li>Larry Porter, Caroline County Commissioner</li>
                    <li>Ricky Travers, Dorchester County Council</li>
                    <li>Don Satterfield, Dorchester County Council</li>
                    <li>Dirck Bartlett, Talbot County Council</li>
                    <li>Chuck Callahan, Talbot County Council</li>
                    <li>Anthony Casey, Ridgely Commissioner</li>
                    <li>Robert Hanson, Cambridge City Council</li>
                    <li>Rosalee Potter, Trappe Town Council</li>
                    <li>Walter Chase, private citizen</li>
                    <li>Adelaide Eckardt, Senator – Maryland District 37</li>
                    <li>Chris Adams, Delegate – Maryland District 37B</li>
                    <li>Johnny Mautz, Delegate – Maryland District 37B</li>
                    <li>Maria D'Arcy, Caroline County minority representative</li>
                    <li>Jerome Stanley, Dorchester County minority representative</li>
                    <li>Burton Wilson, Talbot County minority representative</li>
                    <li>Gale Nashold, Caroline County private sector/private citizen</li>
                    <li>Allen Nelson, Dorchester County private sector/private citizen</li>
                    <li>James Redman, Talbot County private sector/private citizen</li>
                    <li>Russell Brinsfield, Mayor of Vienna</li>
                    <li>Buddy Harrison, Maryland Seafood Industries</li>
                    <li>Dan Rider, Association of Forestry Industries, Inc.</li>
                    <li>Kurt Fuchs, Maryland Farm Bureau</li>
                    <li>Carolyn Spicher, Caroline County businesswoman</li>
                    <li>Michael LeMire, Dorchester County businessman</li>
                    <li>Jeannie Haddaway-Riccio, Talbot County businesswoman</li>
                </ul>
            </p>
        </div>
        <div class="membersDiv2_open transition-all" id="nonVoting">
            <h3>Non-Voting Members</h3>
            <br>
            <p id="nonVoting-list">
                <ul class="list-unstyled">
                    <li>Wilbur Levengood, Jr., Caroline County Commissioner</li>
                    <li>Rick Price, Dorchester County Council</li>
                    <li>William Nichols, Dorchester County Council</li>
                    <li>Thomas Bradshaw, Dorchester County Council</li>
                    <li>Jennifer Williams, Talbot County Council</li>
                    <li>Corey Pack, Talbot County Council</li>
                    <li>Laura Price, Talbot County Council</li>
                    <li>Ken Decker, Caroline County Administrator</li>
                    <li>Jeremy Goldman, Dorchester County Manager</li>
                    <li>Andy Hollis, Talbot County Manager</li>
                    <li>Steven Arentz, Delegate - Maryland District 36</li>
                    <li>Jeff Ghrist, Delegate – Maryland District 36</li>
                    <li>Jay Jacobs, Delegate - Maryland District 36</li>
                    <li>Stephen Hershey, Jr., Senator - Maryland District 36</li>
                    <li>Sheree Sample-Hughes, Delegate – Maryland District 37A</li>
                </ul>
            </p>
        </div>
        <div class="membersDiv2_bg"></div>
    </div>
</div>
